.comments {
    &__section {
        width: 100%;
        border-top: 1px solid var(--color-gray-200);
        padding-top: 30px;
        margin-top: 50px;

        &-title {
            font-size: 26px;
            line-height: 32px;
            font-weight: 600;
            color: var(--color-gray-900);
            margin-bottom: 25px;

            @include before('md') {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }

    &__element {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        @include before('md') {
            margin-top: 20px;
        }
    }

    &__block {
        background-color: rgba(248, 249, 250, 0.5);
        border-radius: 4px;
        padding: 20px;
        box-shadow: 0px 2px 6px rgba(52, 73, 94, 0.15);

        @include before('md') {
            padding: 15px;
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &-info {
            display: flex;
            align-items: center;
        }

        &-content {
            margin-top: 15px;
            font-size: 14px;
            line-height: 20px;
        }

        &-answer {
            display: table;
            color: var(--corporate-v-2);
            text-decoration: underline;
            margin-left: auto;
            font-weight: 600;
            font-size: 14px;
            cursor: pointer;
        }

        &-level {
            background-color: #fff;
            margin-left: 100px;

            @include before('md') {
                margin-left: 50px;
            }
        }
    }

    &__user {
        display: flex;
        align-items: center;
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        margin-right: 15px;

        &-avatar {
            border-radius: 50%;
            background-color: var(--color-gray-200);
            box-shadow: 0px 2px 6px rgba(52, 73, 94, 0.15);
            border: 3px solid #fff;
            width: 50px;
            height: 50px;
            flex-shrink: 0;
        }

        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    
    &__detail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-list {
            @include flex-v-center;
        }

        &-name {
            color: var(--color-gray-900);
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 5px;
        }

        &-element {
            font-size: 12px;
            font-weight: 600;
            color: var(--color-gray-900);
            position: relative;

            &:not(:last-child)
                {
                    padding-right: 10px;
                    margin-right: 10px;

                    &::before {
                        content: "";
                        width: 3px;
                        height: 3px;
                        background-color: var(--color-gray-900);
                        position: absolute;
                        right: 0;
                        top: 50%;
                        border-radius: 50%;
                        transform: translateY(-50%);
                    }
                }

            &--date, &--counter {
                font-family: 'OpenSans';
            }
        }

        &-link {
            color: var(--color-gray-900);
            display: block;
        }

        svg {
            width: 17px;
            height: 17px;
        }
    }
}

.comment-form {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2,450px);
    position: relative;

    @include before('md') {
        display: flex;
        flex-direction: column;
    }

    label {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        color: var(--corporate-v-1);
        margin-bottom: 10px;
    }

    input {
        background-color: #fff;
        border: 1px solid var(--color-gray-200);
        border-radius: 4px;
        padding: 0 15px;
        height: 48px;
        line-height: 48px;
        color: var(--color-gray-600);
        box-shadow: 0 2px 6px rgba(52,73,94,.15);
        font-size: 14px;
        position: relative;
        width: 100%;
        overflow: hidden;
        max-width: 500px;
        text-overflow: ellipsis;
    }

    textarea {
        background-color: #fff;
        border: 1px solid var(--color-gray-200);
        border-radius: 4px;
        padding: 15px;
        height: auto;
        font-size: 14px;
        line-height: 20px;
        min-height: 190px;
        max-height: 190px;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        color: var(--color-gray-600);
        box-shadow: 0px 2px 6px rgba(52, 73, 94, 0.15);

        @include placeholder {
            color: var(--color-gray-600);
        }

        &:hover {
            &::placeholder {
                opacity: 1;
            }
        }

        &:focus {
            border: 1px solid var(--color-gray-300);

            &::placeholder {
                opacity: 0.3;
            }
        }
    }

    .submit {
        background-color: var(--corporate-v-2);
        border-radius: 4px;
        border: 2px solid var(--corporate-v-2);
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 700;
        color: var(--color-gray-100);
        transition: color 0.2s, background-color 0.2s;
        white-space: nowrap;
        width: auto;
        height: auto;
        line-height: 1;
        cursor: pointer;

        &.active {
            background-color: var(--color-gray-100);
            color: var(--corporate-v-2);
            transition: color 0.2s, background-color 0.2s;
        }

        &:hover, &:focus {
            @include hover {
            background-color: var(--color-gray-100);
            color: var(--corporate-v-2);
            transition: color 0.2s, background-color 0.2s;
            }
        }

        &:focus {
            @include coarse {
            background-color: var(--color-gray-100);
            color: var(--corporate-v-2);
            transition: color 0.2s, background-color 0.2s;
            }
        }
    }

    &-comment, &-author, &-email {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 !important;
    }

    &-comment {
        grid-column-start: 1;
        grid-column-end: 3;
        order: 3;
    }

    .form-submit {
        order: 4;
    }

    &-url, &-notes {
        display: none;
    }
    
    .comment-notes {
        display: none;
    }

    .comment-form-cookies-consent {
        order: 5;
        display: none;

        input {
            display: inline-block;
            width: 15px;
            height: 15px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid var(--color-gray-600);
            border-radius: 4px;
            margin-right: 8px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
    }
}
