.vacancies {

  &__block {

    padding-top: 35px;

    @include before('lg') {
      padding-top: 25px;
    }

    &-title {
      font-size: 24px;
      font-weight: 600;
      color: var(--corporate-v-1);

      @include before('lg') {
        font-size: 22px;
      }

      @include before('md') {
        font-size: 20px;
      }
    }

    &-list {
      margin-top: 20px;
      padding-left: 15px;
      display: flex;
      flex-direction: column;

      @include before('lg') {
        padding-left: 5px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      @include before('md') {
        display: block;
      }
    }

    &-department {
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      padding-right: 5px;
      display: inline;

      @include before('xl') {
        font-size: 16px;
        line-height: 24px;
      }

      span {
        position: relative;
        background-image: linear-gradient(90deg,rgba(51,122,183,.5),rgba(51,122,183,.5) 60%,transparent 0,transparent);
        background-position: 0 bottom;
        background-size: 6px 1px;
        background-repeat: repeat-x;
        color: var(--corporate-v-2);
      }
    }

    &-counter {
      font-weight: 600;
      color: var(--corporate-v-0);
      display: inline-block;
      /*position: absolute;
      top: 0;
      right: -35px;
      min-width: 40px;*/
    }

    details summary {
      display: block;
    }
  }

  &__open {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    margin-bottom: 30px;

    @include before('xl') {
      padding-left: 10px;
      margin-bottom: 20px;
    }

    &-item {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 20px 10px 15px;
      border-bottom: 1px solid var(--color-gray-200);
      width: 100%;
      max-width: 920px;

      @include before('xl') {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 0;
      }
    }

    &-position {
      font-size: 18px;
      font-weight: 600;
      color: var(--corporate-v-3);
      max-width: 390px;
      min-width: 390px;

      @include before('xl') {
        font-size: 16px;
        max-width: none;
        min-width: auto;
        margin-bottom: 10px;
      }
    }

    &-salary {
      font-size: 16px;
      font-weight: 600;
      color: var(--corporate-v-0);
      padding-left: 80px;
      white-space: nowrap;

      @include before('xl') {
        font-size: 14px;
        padding: 0;
      }
    }

    &-city {
      font-size: 16px;
      font-weight: 600;
      color: var(--corporate-v-0);
      text-align: right;

      @include before('xl') {
        margin-top: 10px;
        font-size: 14px;
        text-align: left;
      }
    }
  }

  &__bottom {

    width: 100%;

    @include before('md') {
      position: sticky;
      bottom: 10px;
    }

    .main__button {
      &:not(:last-child) {
        margin-right: 30px;
      }

      @include before('md') {
        padding: 10px 15px;
        font-size: 15px;
        margin: 0;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }

  &__buttons {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(52, 73, 94, 0.15);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;

    @include after('xl') {
      box-shadow: none;
      border-top: 1px solid var(--color-gray-200);
      border-radius: 0;
      padding: 30px 0 0 0;
      margin-top: 30px;
      justify-content: flex-start;
    }
  }

  &__salary {
    font-weight: 700;
    font-size: 20px;
    color: var(--corporate-v-1);
    margin-bottom: 30px;

    @include before('md') {
      font-size: 18px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--color-gray-200);
    padding-bottom: 30px;

    &-item {
      font-weight: 600;
      font-size: 16px;
      color: var(--corporate-v-0);

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}


details {
  summary {
    @include before('md') {
      justify-content: space-between;
    }
  }

  &[open] {
    .vacancies__block-department {
      font-weight: 800;
    }
  }
}


.job {
  &__main {
    &-title {
      font-size: 26px;
      line-height: 34px;
      color: var(--corporate-v-2);
      font-weight: 700;
      margin-bottom: 20px;
    }

    &-text {
      padding-right: 10px;

      &--link {
        font-weight: 600;
        color: var(--corporate-v-2);
        text-decoration: underline;
      }
    }

    &-info {
      max-width: 570px;
      width: 100%;
    }

    .row {
      @include after('md') {
        flex-wrap: nowrap;
        align-items: center;
      }
    }

    .main__button {
      margin-top: 40px;
      display: table;
    }

    &-img {
      overflow: hidden;
      display: flex;
      border: 15px solid var(--color-gray-200);
      background-color: var(--color-gray-200);
      border-radius: 4px;
      max-height: 450px;
      max-width: 750px;
      height: 100%;
      width: 100%;

      @include before('md') {
        border-width: 10px;
        margin-top: 30px;
      }
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__counter {
    position: relative;
    padding: 60px 0;
    margin-top: 70px;

    @include before('md') {
      padding: 30px 0 40px;
    }

    &::before {
      content: '';
      position: absolute;
      background-color: var(--color-gray-100);
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 100vw;
      height: 100%;
      z-index: -1;
    }

    .row {  
      @include after('md') {
        flex-wrap: nowrap;
        align-items: center;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include before('md') {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

    &-title {
      font-size: 46px;
      font-weight: 700;
      line-height: 60px;
      color: var(--corporate-v-1);
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      @include before('md') {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 0;
      }

      span {
        margin-right: 5px;
        font-size: 30px;
        line-height: 58px;
        font-weight: 600;
      }
    }

    &-text {
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;
      max-width: 280px;
      text-align: center;

      span {
        white-space: nowrap;
      }
    }
  }

  &__advantage {

    padding: 70px 0;
    margin-bottom: 35px;
    border-bottom: 1px solid var(--color-gray-200);

    @include before('md') {
      padding: 35px 0;
    }

    &-title {
      font-size: 22px;
      line-height: 28px;
      color: var(--corporate-v-1);
      margin-bottom: 30px;
      font-weight: 600;
    }

    &-list {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      width: 100%;

      @include before('lg') {
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100vw;
        position: relative;
        margin-left: -16px;
        margin-right: -16px;
        left: 0;
        padding: 10px 0px 10px 16px;
        scroll-snap-type: x proximity;
        scroll-padding: 0 20px;
        scrollbar-width: none;
        margin-top: 0;

        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }

        &:after {
            content: "";
            height: 20px;
            width: 20px;
            flex-shrink: 0;
        }
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      color: var(--corporate-v-1);
      line-height: 18px;
      text-align: center;
      width: 220px;
      flex-shrink: 0;

      @include before('lg') {
        width: 200px;
      }

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    &-img {
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
    }
  }
}