.vacancies {

  &__block {

    padding-top: 35px;

    @include before('lg') {
      padding-top: 25px;
    }

    &-title {
      font-size: 24px;
      font-weight: 600;
      color: var(--corporate-v-1);

      @include before('lg') {
        font-size: 22px;
      }

      @include before('md') {
        font-size: 20px;
      }
    }

    &-list {
      margin-top: 20px;
      padding-left: 15px;
      display: flex;
      flex-direction: column;

      @include before('lg') {
        padding-left: 5px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      @include before('md') {
        align-items: flex-start;
        justify-content: space-between;
      }
    }

    &-department {
      color: var(--corporate-v-2);
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      text-decoration:underline;
      text-decoration-style: dashed;

      @include before('xl') {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &-counter {
      font-size: 14px;
      font-weight: 600;
      color: var(--corporate-v-0);
      margin-left: 5px;
    }
  }

  &__open {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    margin-bottom: 30px;

    @include before('xl') {
      padding-left: 10px;
      margin-bottom: 20px;
    }

    &-item {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 20px 10px 15px;
      border-bottom: 1px solid var(--color-gray-200);
      width: 100%;
      max-width: 920px;

      @include before('xl') {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 0;
      }
    }

    &-position {
      font-size: 20px;
      font-weight: 700;
      color: var(--corporate-v-3);
      max-width: 390px;
      min-width: 390px;

      @include before('xl') {
        font-size: 16px;
        max-width: none;
        min-width: auto;
        margin-bottom: 10px;
      }
    }

    &-salary {
      font-size: 16px;
      font-weight: 700;
      color: var(--corporate-v-0);
      padding-left: 80px;
      white-space: nowrap;

      @include before('xl') {
        font-size: 14px;
        padding: 0;
      }
    }

    &-city {
      font-size: 16px;
      font-weight: 700;
      color: var(--corporate-v-0);
      text-align: right;

      @include before('xl') {
        margin-top: 10px;
        font-size: 14px;
        text-align: left;
      }
    }
  }

  &__bottom {
    position: sticky;
    bottom: 10px;
    width: 100%;

    .main__button {
      padding: 10px 15px;
      font-size: 15px;
    }
  }

  &__buttons {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(52, 73, 94, 0.15);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
  }
}


details {

  summary {
    @include before('md') {
      justify-content: space-between;
    }
  }

  &[open] {
    .vacancies__block-department {
      font-weight: 800;
    }
  }
}