.holiday__time {
  padding: 20px;
  border: 2px solid var(--color-status-danger);
  border-radius: 4px;
  margin-bottom: 30px;

  p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;

    @include before('md') {
      font-size: 14px;
    }
  }

  @include before('xl') {
    margin-bottom: 40px;
  }

  @include before('md') {
    padding: 20px 15px;
    margin-bottom: 50px;
  }
}

.hotline {
  &__contacts {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid var(--color-gray-200);
    flex-wrap: wrap;

    @include before('md') {
      flex-direction: column;
    }

    &-item {
      position: relative;
      padding-left: 45px;
      display: flex;
      flex-direction: column;

      @include before('xl') {
        min-width: 50%;

        &:nth-last-child(2n) {
          margin-bottom: 30px;
        }

      }

      @include before('md') {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }

      &::before {
        content: '';
        background-color: rgba(233, 236, 239, 0.5);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 22px 22px;
        border-radius: 4px;
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 0;
      }

      &--time {
        &::before {
          background-image: url(../img/hotline_time.svg);
        }
      }

      &--telegram {
        &::before {
          background-image: url(../img/hotline_telegram.svg);
        }
      }

      &--mail {
        &::before {
          background-image: url(../img/input__mail.svg);
          background-size: 20px 20px;
        }
      }

      &--phone {
        &::before {
          background-image: url(../img/hotline_phone.svg);
        }
      }
    }

    &-title {
      color: var(--corporate-v-2);
      font-weight: 800;
      font-size: 14px;
      line-height: 18px;
    }

    &-info {
      margin-top: 5px;
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      color: var(--corporate-v-0);

      &--link {

        &:hover,
        &:focus {
          text-decoration: underline;
          color: var(--corporate-v-3);
        }
      }
    }
  }

  &__form {
    background-color: var(--color-gray-100);
    padding: 50px 0;
    margin-top: 55px;
    margin-bottom: -130px;

    @include before('xxl') {
      margin-bottom: -80px;
    }

    @include before('md') {
      padding: 30px 0 50px;
      margin-top: 30px;
    }

    &-title {
      font-size: 20px;
      font-weight: 700;
      color: var(--corporate-v-1);
      line-height: 24px;
      margin-bottom: 35px;

      @include before('md') {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}
