.pagination {
  display: flex;
  justify-content: center;
  margin: 50px auto 0;

  &__item {
    &:first-child {
      .pagination__link {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-left: 20px;
      }
    }

    &:last-child {
      .pagination__link {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-right: none;
        padding-right: 20px;
      }
    }
  }

  &__link {
    font-weight: 600;
    padding: 10px 15px;
    font-size: 14px;
    color: var(--corporate-v-0);
    display: block;
    background-color: var(--color-gray-100);
    border-right: 1px solid var(--color-gray-200);

    &-active {
      background-color: var(--corporate-v-2);
      color: var(--color-gray-100);
    }

    &:hover,
    &:focus {
      background-color: var(--corporate-v-2);
      color: var(--color-gray-100);
    }
  }
}
