.partners {

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding-top: 35px;

    @include before('md') {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }

  &__item {
    background-color: rgba(248, 249, 250, 0.5);
    box-shadow: 0px 1px 6px rgba(52, 73, 94, 0.15);
    border-radius: 4px;
    padding: 20px 25px;
    display: flex;
    align-items: center;

    @include before('lg') {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 20px;
    }
  }

  &__name {
    display: flex;
    align-items: center;
  }

  &__img {
    background-color: #fff;
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(52, 73, 94, 0.15);
    margin-right: 20px;

    @include before('lg') {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }
  }

  &__image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @include before('lg') {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: var(--corporate-v-0);

    @include before('lg') {
      display: none;
    }

    &-mobail {
      font-size: 16px;
      display: none;

      @include before('lg') {
        display: block;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    width: 100%;
  }

  &__contacts {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5px;
    justify-content: space-between;
    width: 100%;

    &-item {
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;

      @include after('lg') {
        &:nth-child(2n) {
          text-align: right;
        }
      }

      a {
        color: var(--color-gray-900);
      }
    }

    @include before('lg') {
      grid-template-columns: 1fr;
    }
  }
}
