.services {

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 25px;
        justify-content: space-between;
        margin-top: 30px;

        @include before('lg') {
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 20px;
        }

        @include before('md') {
            grid-template-columns: 1fr;
            grid-row-gap: 30px;
        }
    }

    &__item {
        &-link {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            &:hover, &:focus, &:active {
                .services__item-title {
                    color: var(--corporate-v-3);
                    transition: all 0.2s;
                }
            }
        }

        &-title {
            font-size: 18px;
            font-weight: 600;
            color: var(--corporate-v-1);
            display: flex;
            align-items: center;
            transition: all 0.2s;
        }

        &-img {
            width: 45px;
            height: 45px;
            margin-right: 10px;
            flex-shrink: 0;
        }

        &-image {
            width: 45px;
            height: 45px;
            object-fit: cover;
            margin-right: 10px;
            flex-shrink: 0;
        }

        &-block {
            background-color: #fff;
            box-shadow: 0px 2px 6px rgba(52, 73, 94, 0.15);
            border-radius: 4px;
            padding: 25px 20px;
        }

        &-description {
            font-size: 14px;
            line-height: 18px;
            color: var(--corporate-v-1);
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        &-more {
            font-size: 14px;
            color: var(--corporate-v-3);
            font-weight: 900;
            display: flex;
            align-items: center;
            margin-top: auto;

            svg {
                fill: var(--corporate-v-3);
            }
        }
    }
}