.webinars {

    &__next {
        margin: 40px 0 60px;
    }

    &__title-filter {
        font-size: 20px;
        line-height: 24px;
        color: var(--corporate-v-1);
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__main {
        display: flex;
        border-radius: 4px;
        box-shadow: 0px 2px 6px rgba(52, 73, 94, 0.15);
        background-color: rgba(248, 249, 250, 0.5);

        &-img {
            max-width: 550px;
            width: 100%;
            margin-right: 10px;
            flex-shrink: 0;

            @include before('xl') {
                display: none;
            }
        }

        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px 0 0 4px;
        }

        h3 {
            margin: 0;
        }

        &-content {
            padding: 20px;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &-title {
            font-size: 20px;
            font-weight: bold;
            line-height: 26px;
            color: var(--corporate-v-0);
            margin-bottom: 10px;
            display: block;

            @include before('xl') {
                font-size: 18px;
                line-height: 24px;
            }
        }

        &-date {
            font-size: 16px;
            font-weight: 600;
            color: var(--corporate-v-2);

            time {
                font-family: OpenSans;
                font-weight: 600;
                font-size: 14px;
            }
        }

        &-description {
            margin-top: 25px;
            font-size: 16px;
            line-height: 22px;
            color: var(--color-gray-900);

            @include before('xl') {
                font-size: 14px;
                line-height: 18px;
            }
        }

        &-bottom {
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include before('xl') {
                flex-direction: column;
                justify-content: start;
                align-items: flex-start;
            }
        }

        &-speaker {
            font-size: 14px;
            line-height: 16px;
            font-weight: 300;

            &--name {
                font-size: 16px;
                line-height: 22px;
                font-weight: 600;
                color: var(--corporate-v-0);
            }
        }
        
        &-link {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            white-space: nowrap;
            font-size: 14px;
            line-height: 18px;
            color: var(--corporate-v-0);
            transition: color 0.2s;

            svg {
                fill: var(--corporate-v-0);
                width: 18px;
                height: 18px;
                transition: fill 0.2s;
            }

            &:hover, &:focus {
                @include hover {
                    color: var(--corporate-v-2);
                    text-decoration: underline;
                    transition: color 0.2s;
                    
                    svg {
                        fill: var(--corporate-v-2);
                        transition: fill 0.2s;
                    }
                } 
            }

            @include before('xl') {
                margin-top: 20px;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        @include before('xl') {
            gap: 25px;
        }

        @include before('md') {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }

    &__item {
        background-color: rgba(248, 249, 250, 0.5);
        box-shadow: 0px 1px 6px rgba(52, 73, 94, 0.15);
        border-radius: 4px;
        padding: 20px 25px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @include before('md') {
            padding: 20px 15px;
        }

        h3 {
            margin: 0;
            display: inline-block;
        }

        &-title {
            font-size: 18px;
            line-height: 24px;
            display: block;
            color: var(--corporate-v-1);
            margin-bottom: 5px;
            font-weight: bold;

            &:hover, &:focus {
                @include hover {
                  color: var(--corporate-v-2);
                  text-decoration: underline;
                  transition: color 0.2s;
                }
            }

            @include before('md') {
                font-size: 16px;
                line-height: 20px;
            }
        }

        &-date {
            font-size: 14px;
            line-height: 20px;
            color: var(--color-gray-600);

            time {
                font-family: OpenSans;
                font-weight: 600;
                font-size: 12px;
            }
        }

        &-description {
            font-size: 14px;
            line-height: 20px;
            color: var(--color-gray-900);
            margin-top: 20px;
        }

        &-speaker {
            margin-top: auto;
            font-size: 14px;
            font-weight: 300;
            color: var(--color-gray-800);
            line-height: 16px;
            padding-top: 30px;

            &--name {
                font-size: 16px;
                line-height: 22px;
                font-weight: 600;
                color: var(--corporate-v-0);
            }
        }
    }

    &__info {
        width: 100%;

        @include after('xl') {            
            max-width: calc(100% - 510px);
        }

        &-button {
            margin-bottom: 30px;

            @include after('xl') {
                display: none;
            }
        }

        &-list {
            position: relative;
            padding-bottom: 30px;
        }

        &-moderator {            
            font-size: 16px;
            font-weight: 600;
            color: var(--corporate-v-1);
            line-height: 24px;
            margin-bottom: 30px;
            padding-bottom: 30px;
            position: relative;

            &::after {
                content: '';
                height: 1px;
                width: 100%;
                background-color: var(--color-gray-200);
                display: block;
                position: absolute;
                bottom: 0;
            }

            span {
                font-weight: bold;
            }
        }

        &-item {
            font-size: 16px;
            font-weight: 600;
            color: var(--corporate-v-1);
            line-height: 24px;

            @include before('xl') {            
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }

            span {
                font-weight: bold;
                font-size: 18px;
            }

            time {
                color: var(--corporate-v-2);
                font-family: 'OpenSans';
                font-weight: 600;    
                font-size: 18px;     
            }
        }
    }

    &__form {
        max-width: 450px;
        background-color: rgba(248, 249, 250, 0.5);
        border-radius: 4px;
        box-shadow: 0px 1px 6px rgba(52, 73, 94, 0.15);
        padding: 30px;
        align-self: flex-start;

        @include before('xl') {
            display: none;
        }

        &-title {
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            color: var(--corporate-v-0);
            margin-bottom: 30px;

            &--closed {
                color: var(--color-status-danger);
            }

            span {
                color: var(--color-status-danger);
                font-weight: bold;
            }
        }

        .main__form {
            display: flex;
            flex-direction: column;
        }
    }
}
