<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content text__block">
                <div class="error_page">
                    <svg>
                        <use xlink:href="img/sprite.svg#error_page"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footnote">
            <div class="footnote__content">
                <div class="footnote__title">
                    Страница не найдена!
                </div>
                Воспользуйтесь поиском или <a href="/" title="Главная страница">перейдите</a> на главную страницу сайта.
            </div>
        </div>
    </div>
</div>