<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content">
                <h1>
                    О компании
                </h1>
                <p>История компании АО «Спарго технологии» началась в 2002 году в рамках Проектной Группы Автоматизации
                    Систем Медицинского обеспечения ЦВ «Протек». В связи с расширением бизнеса 29 декабря 2004 г.
                    Произошло выделение направления в отдельное юридическое лицо – АО «Спарго Технологии».</p>
                <p>Региональная сеть АО «Спарго Технологии» охватывает 42 региона Российской Федерации, подразделения
                    тесно взаимодействуют между собой, что позволяет оперативно и своевременно реагировать на запросы
                    клиентов.</p>
                <p>В компании работает свыше 200 сотрудников, большинство из которых осуществляют установку и
                    сопровождение поставляемых программных продуктов. В том числе, более 30 сотрудников занимаются
                    непосредственно разработкой программного обеспечения.</p>
            </div>
        </div>
    </div>

    <div class="about__director">
        <div class="container">
            <div class="row">
                <div class="wrapper__content">
                    <div class="about__director-block">
                        <div class="about__director-photo">
                            <div class="about__director-img">
                                <img src="img/director_img.jpg" alt="Хечинашвили Георгий Николаевич - Спарго Технологии"
                                    class="about__director-image">
                            </div>
                            <div class="about__director-name about__director-name--mobail">
                                Хечинашвили Георгий Николаевич
                                <div class="about__director-status">
                                    Генеральный директор АО «Спарго Технологии»
                                </div>
                            </div>
                        </div>
                        <div class="about__director-content">
                            <div class="about__director-name">
                                Хечинашвили Георгий Николаевич
                                <div class="about__director-status">
                                    Генеральный директор АО «Спарго Технологии»
                                </div>
                            </div>
                            <div class="about__director-quote">
                                «Уникальные знания, аккумулированный опыт, долгосрочные отношения с нашими клиентами и
                                партнерами – все это позволяет АО «Спарго Технологии» предлагать профессиональные
                                комплексные решения для аптечного бизнеса.<br>
                                Компания развивается уверенными темпами и является лидером среди производителей
                                программного обеспечения для аптек.<br><br>
                                Мы ценим доверие, которое оказывают нам клиенты, уверены в своих силах и постоянно
                                работает над тем, чтобы наши продукты и услуги максимально соответствовали Вашим
                                ожидания».
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="wrapper__content">
                <p>За время работы был накоплен значительный опыт и завоевана репутация ответственного поставщика услуг
                    в данной сфере.</p>
                <p>АО «Спарго Технологии» осуществляет сервисное обслуживание установленных программных продуктов в
                    течение всего времени их эксплуатации. Услуги по сопровождению системы являются базисом для
                    осуществления сотрудничества с клиентами. Мы предлагаем несколько тарифных планов при абонентском
                    обслуживании установленных программ.</p>
                <p>В планах компании – дальнейшее совершенствование существующих программных продуктов. Мы постоянно
                    увеличиваем набор функций, за счет которых клиенты смогут работать более эффективно. АО «Спарго
                    технологии» в перспективе будет расширять предлагаемый клиенту ассортимент программного обеспечения.
                    Не менее важны и новые эффективные способы сервисного обслуживания клиентов, которые разрабатывают и
                    внедряются компанией.</p>
            </div>
        </div>

        <div class="about__all scrollableList">
            <div class="scrollableList__title">
                Еще больше о нас
            </div>
            <div class="scrollableList__items">

                <div class="scrollableList__block about__all-block">
                    <a href="documents.html" class="about__all-item" title="Лицензии и сертификаты">
                        <div class="about__all-img">
                            <svg class="about__all-image">
                                <use xlink:href="img/sprite.svg#about_all_1"></use>
                            </svg>
                        </div>
                        <div class="about__all-title">
                            Лицензии<br>и сертификаты
                        </div>
                    </a>
                </div>

                <div class="scrollableList__block about__all-block">
                    <a href="hh.html" class="about__all-item" title="Открытые вакансии">
                        <div class="about__all-img">
                            <svg class="about__all-image">
                                <use xlink:href="img/sprite.svg#about_all_2"></use>
                            </svg>
                        </div>
                        <div class="about__all-title">
                            Открытые<br>вакансии
                        </div>
                    </a>
                </div>

                <div class="scrollableList__block about__all-block">
                    <a href="reviews.html" class="about__all-item" title="Отзывы наших клиентов">
                        <div class="about__all-img">
                            <svg class="about__all-image">
                                <use xlink:href="img/sprite.svg#about_all_3"></use>
                            </svg>
                        </div>
                        <div class="about__all-title">
                            Отзывы наших<br>клиентов
                        </div>
                    </a>
                </div>

                <div class="scrollableList__block about__all-block">
                    <a href="partners.html" class="about__all-item" title="Партнеры">
                        <div class="about__all-img">
                            <svg class="about__all-image">
                                <use xlink:href="img/sprite.svg#about_all_4"></use>
                            </svg>
                        </div>
                        <div class="about__all-title">
                            Партнеры
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>