<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content text__block news__element">

                <div class="news__element-detail">
                    <time datetime="28.12.2021" class="news__element-item news__element-date">
                        28.12.2021
                    </time>
                    <div class="news__element-item">
                        просмотров: <span>1352</span>
                    </div>
                </div>

                <h1>
                    Комплекс F3 RX для работы с электронными рецептами 
                </h1>

                <p>Дополнительные модули &laquo;F3 Rx&raquo; для программ &laquo;F3 TAIL&raquo; и&nbsp;&laquo;<nobr>еФарма2-Льгота</nobr> Web&raquo; позволяют осуществлять работу с&nbsp;рецептами в&nbsp;форме электронного документа, как для льготного лекарственного обеспечения, так и&nbsp;для рецептов за&nbsp;полную стоимость.</p>
                <p>Решение &laquo;F3 Rx&raquo;&nbsp;&mdash; это комплекс программных продуктов, который организуют единое информационное пространство и&nbsp;обеспечивают обмен данными между врачом, пациентом и&nbsp;фармацевтом.</p>
                <p>Выписка электронных рецептов может осуществляться как в&nbsp;имеющихся у&nbsp;заказчика информационных системах, так и&nbsp;с&nbsp;помощью ПП&nbsp;&laquo;<nobr>еФарма2-Льгота</nobr> Web&raquo;, в&nbsp;котором в&nbsp;настоящий момент возможна работа с&nbsp;любыми видами рецептов.</p>
                <p>Все выписанные рецепты поступают в&nbsp;процессинговый центр &laquo;<nobr>еФарма2-Льгота</nobr> Web&raquo;, а&nbsp;оттуда в&nbsp;F3 TAIL и&nbsp;в&nbsp;мобильное приложение &laquo;Медицинский личный кабинет&raquo;. Сотрудники аптеки осуществляют отпуск электронного рецепта в&nbsp;ПП&nbsp;&laquo;F3 TAIL&raquo;. Для аптек, автоматизированных другими системами товарного учета, разработана универсальная интеграционная шина &laquo;F3 BUS&raquo;.</p>


                <div class="news__element-bottom">
                    <div class="tags">
                        <span>Теги:</span>
                        <a href="#" title="#" class="tags__item transition">
                            фармацевтически рынок
                        </a>
                        <a href="#" title="#" class="tags__item transition">
                            решения
                        </a>
                        <a href="#" title="#" class="tags__item transition">
                            проекты
                        </a>
                        <a href="#" title="#" class="tags__item transition">
                            автоматизация аптек
                        </a>
                        <a href="#" title="#" class="tags__item transition">
                            аптека
                        </a>
                        <a href="#" title="#" class="tags__item transition">
                            новости компании
                        </a>
                        <a href="#" title="#" class="tags__item transition">
                            опыт внедрения
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>