<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content text__block app__content">

                <div class="text__page">
                    <p>
                        <strong>
                            «Медицинский личный кабинет» - приложение, разработки АО «Спарго Технологии», для взаимодействия пациента и клиники из любой точки мира и с любого устройства.
                        </strong>
                    </p>
                    <ul>
                        <li>экономит время и объединяет в себе весь необходимый функционал для цепочки «врач-пациент»;</li>
                        <li>имеет большие перспективы развития телемедицины и персонализации лечения;</li>
                        <li>доступно в браузере и на мобильных устройствах под управлением iOS и Android (мобильные телефоны и планшеты).</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="app__presentation text__block">
        <div class="app__presentation-item">
            <div class="container">
                <div class="app__presentation-text">
                    <div class="app__presentation-title">
                        Пациентам
                    </div>
                    <ul>
                        <li>регистрация через портал «Госуслуги» или смс-уведомление;</li>
                        <li>удобно и быстро взаимодействовать с клиникой из любой точки мира и с любого устройства через интернет без обращения в регистратуру;</li>
                        <li>получать напоминания о предстоящих запланированных событиях: визит к врачу, необходимость выполнения каких-либо процедур, прием назначенных лекарственных средств и т.п.;</li>
                        <li>самостоятельно контролировать свое здоровье, вести дневник здоровья с последующим его анализом лечащим врачом.</li>
                    </ul>
                    
                    <div class="app__download">
                        <a href="#" target="_blank" class="app__download-item">
                            <svg>
                                <use xlink:href="img/sprite.svg#apple_store"></use>
                            </svg>
                            Загрузите в <span>App Store</span>
                        </a>
                        <a href="#" target="_blank" class="app__download-item">
                            <svg>
                                <use xlink:href="img/sprite.svg#google_play"></use>
                            </svg>
                            Доступно в <span>Google Play</span>
                        </a>
                    </div>
                </div>
                <div class="app__presentation-img">
                    <img src="img/mlk_mobail.jpg" alt="#" class="app__presentation-image">
                </div>
            </div>
        </div>

        <div class="app__presentation-item">
            <div class="container">
                <div class="app__presentation-text">
                    <div class="app__presentation-title">
                        Врачам и медицинским учреждениям
                    </div>
                    <ul>
                        <li>интеграция МЛК и МИС;</li>
                        <li>повышение лояльности пациентов за счет предоставления новых сервисов;</li>
                        <li>снижение нагрузки на регистратуру и контакт-центр клиники;</li>
                        <li>оперативно прямую обратную связь от пациентов клиники;</li>
                        <li>расширение услуг в предоставляемом прайс-листе клиники, например, онлайн консультирование, доступ к медицинским картам своих пациентов, дистанционный мониторинг пациентов;</li>
                        <li>возможность оформлять электронные рецепты;</li>
                        <li>улучшение качества предоставляемых услуг за счет подключения к МЛК новых сервисов.</li>
                    </ul>

                    <a href="#form_app" title="#" class="app__presentation-button main__button btn-reset">
                        Условия внедрения
                    </a>
                </div>
                <div class="app__presentation-img">
                    <img src="img/mlk_mis.jpg" alt="#" class="app__presentation-image">
                </div>
            </div>
        </div>

        <div class="app__presentation-item">
            <div class="container">
                <div class="app__presentation-text">
                    <div class="app__presentation-title">
                        Основные рабочие опции
                    </div>
                    <ul>
                        <li>подключать пациента с помощью мобильных приложений: запись на приём, вызов врача на дом, получение медицинских данных, интегральный анамнез пациента;</li>
                        <li>вовлекать пациента в процесс сохранения собственного здоровья и поддерживать приверженность назначенному лечению;</li>
                        <li>автоматическое получение всех рецептов: льготных и за полную стоимость. Возможность заказа назначенных по рецептам препаратов в один клик;</li>
                        <li>сохранять контакт пациента с врачом на расстоянии;</li>
                        <li>проводить скрининг и дистанционное наблюдение пациента;</li>
                        <li>создавать публикации на различную тематику;</li>
                        <li>таргетировать публикации по группам пациентов.</li>
                    </ul>
                </div>
                <div class="app__presentation-img">
                    <img src="img/mlk_full.jpg" alt="#" class="app__presentation-image">
                </div>
            </div>
        </div>
    </div>

    <div class="app__modules">
        <div class="container">
            <div class="row">
                <div class="app__modules-title">
                    Дополнительные модули
                </div>
                <div class="app__modules-text">
                   Архитектура приложения позволяет расширять функциональные возможности по мере необходимости медицинской организации или врачам.<br>Уникальные модули разрабатываются после создания технического задания и согласования необходимых функций.
                </div>
            </div>
        </div>
    </div>


    <div class="contacts__form app__form" id="form_app">
        <div class="container">
            <div class="contacts__form-title">
                Получить демо-версию
            </div>
            <form action="#" class="main__form">
                <div class="main__form-field">
                    <label for="" class="main__form-label">
                        Ваше имя
                    </label>
                    <input type="text" class="main__form-input" placeholder="Как к вам обращаться?">
                </div>

                <div class="main__form-field">
                    <label for="" class="main__form-label">
                        E-mail адрес
                    </label>
                    <input type="text" class="main__form-input" placeholder="name@domain.com">
                </div>

                <div class="main__form-field">
                    <label for="" class="main__form-label">
                        Телефон для связи
                    </label>
                    <input type="text" class="main__form-input" placeholder="+7 (___) ___-__-__">
                </div>

                <div class="main__form-field main__form-field--full main__form-field--buttons">
                    <button class="main__button btn-reset">Получить доступ</button>
                    <p class="main__form-text">Запрашивая доступ к демо-версии, вы автоматически соглашаетесь с
                        условиями <a href="#" title="#" class="main__form-link">обработки персональных данных</a></p>
                </div>
            </form>
        </div>
    </div>


    <div class="app__documentation">
        <div class="container">
            <div class="app__documentation-files">
                <div class="app__documentation-title">
                    Документация
                </div>
                <ul class="app__documentation-list list-reset">
                    <li class="app__documentation-files">
                        <a href="#" title="#" class="app__documentation-link transition">
                            <svg>
                                <use xlink:href="img/sprite.svg#word-icon"></use>
                            </svg>
                            Руководство пользователя - Администратор
                        </a>
                    </li>
                    <li class="app__documentation-files">
                        <a href="#" title="#" class="app__documentation-link transition">
                            <svg>
                                <use xlink:href="img/sprite.svg#word-icon"></use>
                            </svg>
                            Руководство пользователя - Врач
                        </a>
                    </li>
                    <li class="app__documentation-files">
                        <a href="#" title="#" class="app__documentation-link transition">
                            <svg>
                                <use xlink:href="img/sprite.svg#word-icon"></use>
                            </svg>
                            Руководство пользователя - Клиент
                        </a>
                    </li>
                </ul>
            </div>
            <div class="app__documentation-system">
                <div class="app__documentation-title">
                    Системные требования
                </div>

                <div class="app__documentation-table">
                    <table>
                        <thead>
                          <tr>
                            <th scope="col">Операционная система</th>
                            <th scope="col">Процессор</th>
                            <th scope="col">Объём оперативной памяти</th>
                            <th scope="col">Дисковое пространство</th>
                            <th scope="col">Предустановленное ПО</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Windows Server 2012<br>R2 Standart</th>
                            <td>Intel Xeon Silver<br>4214 4.4 ГГц </td>
                            <td>от 48 Гб</td>
                            <td>1 - не менее 200 Гб свободного места<br>2 - не менее 500 Гб свободного места</td>
                            <td>
                                PostgreSql Версия 12
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="faq__section app__faq">
        <div class="container">
            <div class="row">
                <div class="faq__section-title">
                    Ответы на популярные вопросы
                </div>
            </div>
            <div class="row">
                <div class="faq__section-list">
                    <div class="faq__section-item">
                        <details>
                            <summary>
                                <div class="faq__section-question">
                                    Установка программ осуществляется самостоятельно или вашими силами?
                                </div>
                            </summary>
                            <div class="faq__section-answer">
                                Да, на этапе формирования технической документации мы определяем с вами перечень функций
                                и модулей, которые будут в поставке. В ходе эксплуатации этот набор функций вы сможете
                                увеличивать.
                            </div>
                        </details>
                    </div>
                    <div class="faq__section-item">
                        <details>
                            <summary>
                                <div class="faq__section-question">
                                    Мы можем выбрать только тот набор функций, который нужен именно нам?
                                </div>
                            </summary>
                            <div class="faq__section-answer">
                                Да, на этапе формирования технической документации мы определяем с вами перечень функций
                                и модулей, которые будут в поставке. В ходе эксплуатации этот набор функций вы сможете
                                увеличивать.
                            </div>
                        </details>
                    </div>
                    <div class="faq__section-item">
                        <details>
                            <summary>
                                <div class="faq__section-question">
                                    Как грамотно организовать обучение персонала по работе с новой программой?
                                </div>
                            </summary>
                            <div class="faq__section-answer">
                                Да, на этапе формирования технической документации мы определяем с вами перечень функций
                                и модулей, которые будут в поставке. В ходе эксплуатации этот набор функций вы сможете
                                увеличивать.
                            </div>
                        </details>
                    </div>
                    <div class="faq__section-item">
                        <details>
                            <summary>
                                <div class="faq__section-question">
                                    Как автоматизация влияет на рост прибыли в аптеке?
                                </div>
                            </summary>
                            <div class="faq__section-answer">
                                Да, на этапе формирования технической документации мы определяем с вами перечень функций
                                и модулей, которые будут в поставке. В ходе эксплуатации этот набор функций вы сможете
                                увеличивать.
                            </div>
                        </details>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>