<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content text__block app__content">
        
                <div class="text__page">
                    <p>«Спарго Технологии» - отечественный разработчик специализированных решений для автоматизации бизнес-процессов.</p>
                    <p>Компания «Спарго Технологии» предлагает современную программу для автоматизации товарного учета и ассортиментного планирования фармацевтического бизнеса и розничной торговли. C 2018 года кроме решений для автоматизации аптечного бизнеса предлагает решения для других сегментов рынка.</p>
                </div>

                <h2 class="app__content-title">
                    Наши продукты
                </h2>
                
                <div class="app__list">
                    <div class="app__list-block">
                        <a href="#" title="#" class="app__item-link">
                            <div class="app__item-top">
                                <div class="app__item-img">
                                    <img src="img/tail1.png" alt="" class="app__item-image">
                                </div>
                                <div class="app__item-title">
                                    F3 Tail
                                    <span>облачный сервис</span>
                                </div>
                            </div>
                            <div class="app__item-content">
                                Программное обеспечение семейства F3 TAIL – новейшая разработка АО «Спарго Технологии», пришедшая на смену хорошо известной еФарма2. 
                            </div>
                        </a>
                    </div>

                    <div class="app__list-block">
                        <a href="#" title="#" class="app__item-link">
                            <div class="app__item-top">
                                <div class="app__item-img">
                                    <img src="img/tail1.png" alt="" class="app__item-image">
                                </div>
                                <div class="app__item-title">
                                    F3 RAP
                                    <span>локальная программа</span>
                                </div>
                            </div>
                            <div class="app__item-content">
                                «F3 RAP» определяет перспективные торговые наименования, которые будут наполнять ассортимент, удовлетворять потребности потребителей.
                            </div>
                        </a>
                    </div>

                    <div class="app__list-block">
                        <a href="#" title="#" class="app__item-link">
                            <div class="app__item-top">
                                <div class="app__item-img">
                                    <img src="img/tail1.png" alt="" class="app__item-image">
                                </div>
                                <div class="app__item-title">
                                    Ефарма2 Льгота
                                    <span>серверная программа</span>
                                </div>
                            </div>
                            <div class="app__item-content">
                                Предназначена для использования органами управления здравоохранением, аптечными учреждениями, медицинскими организациями. 
                            </div>
                        </a>
                    </div>

                    <div class="app__list-block">
                        <a href="#" title="#" class="app__item-link">
                            <div class="app__item-top">
                                <div class="app__item-img">
                                    <img src="img/tail1.png" alt="" class="app__item-image">
                                </div>
                                <div class="app__item-title">
                                    F3 BUS
                                    <span>облачный сервис</span>
                                </div>
                            </div>
                            <div class="app__item-content">
                                Эффективным решением для тех, у кого уже есть система интернет-заказов станет модуль F3BUS: интеграционная шина (для маркетплейсов).
                            </div>
                        </a>
                    </div>

                    <div class="app__list-block">
                        <a href="#" title="#" class="app__item-link">
                            <div class="app__item-top">
                                <div class="app__item-img">
                                    <img src="img/tail1.png" alt="" class="app__item-image">
                                </div>
                                <div class="app__item-title">
                                    F3 POS
                                    <span>локальная программа</span>
                                </div>
                            </div>
                            <div class="app__item-content">
                                F3POS: web-касса и мобильный pos-терминал реализует полный цикл отпуска препаратов и сопутствующих товаров в оффлайн и онлайн-формате.
                            </div>
                        </a>
                    </div>

                    <div class="app__list-block">
                        <a href="#" title="#" class="app__item-link">
                            <div class="app__item-top">
                                <div class="app__item-img">
                                    <img src="img/tail1.png" alt="" class="app__item-image">
                                </div>
                                <div class="app__item-title">
                                    МЛК
                                    <span>Медицинский личный кабинет</span>
                                </div>
                            </div>
                            <div class="app__item-content">
                                Приложение для записи на прием, дистанционного мониторинга, оказания телемедицинских и информационных услуг пациентам.
                            </div>
                        </a>
                    </div>

                    <div class="app__list-block">
                        <a href="#" title="#" class="app__item-link">
                            <div class="app__item-top">
                                <div class="app__item-img">
                                    <img src="img/tail1.png" alt="" class="app__item-image">
                                </div>
                                <div class="app__item-title">
                                    F3 Tail – CLOUD
                                    <span>облачный сервис</span>
                                </div>
                            </div>
                            <div class="app__item-content">
                                Решение поможет в разы сократить затраты на автоматизацию и оборудование, а также увеличить темпы масштабирования бизнеса.
                            </div>
                        </a>
                    </div>

                    <div class="app__list-block">
                        <a href="#" title="#" class="app__item-link">
                            <div class="app__item-top">
                                <div class="app__item-img">
                                    <img src="img/tail1.png" alt="" class="app__item-image">
                                </div>
                                <div class="app__item-title">
                                    PharmaDATA
                                    <span>облачный сервис</span>
                                </div>
                            </div>
                            <div class="app__item-content">
                                Позволяют увидеть рынок точечно, изучить конкретный сегмент фармацевтического рынка на определенную дату, сделать прогнозы и выявить тренды.
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="industry__block">
        <div class="container">
            <div class="row">
                <div class="industry__block-top">
                    <div class="industry__block-title">
                        Отраслевые решения
                    </div>
                    <div class="industry__block-span">
                        Разрабатываемые нами решения возможно использовать в разных сферах экономики
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="industry__list">
                    <div class="industry__list-item">
                        <div class="industry__list-title">
                            Аптеки и аптечные сети
                        </div>
                        <div class="industry__list-text">
                            Наши решения для аптек и аптечных сетей помогут повысить эффективность продажи лекарственных средств и улучшить качество обслуживания клиентов 
                        </div>
                    </div>
                    <div class="industry__list-item">
                        <div class="industry__list-title">
                            Услуги и сервисы
                        </div>
                        <div class="industry__list-text">
                            Наши решения для аптек и аптечных сетей помогут повысить эффективность продажи лекарственных средств и улучшить качество обслуживания клиентов  
                        </div>
                    </div>
                    <div class="industry__list-item">
                        <div class="industry__list-title">
                            FMCG
                        </div>
                        <div class="industry__list-text">
                            Наши решения для аптек и аптечных сетей помогут повысить эффективность продажи лекарственных средств и улучшить качество обслуживания клиентов  
                        </div>
                    </div>
                    <div class="industry__list-item">
                        <div class="industry__list-title">
                            Аптеки и аптечные сети
                        </div>
                        <div class="industry__list-text">
                            Наши решения для аптек и аптечных сетей помогут повысить эффективность продажи лекарственных средств и улучшить качество обслуживания клиентов 
                        </div>
                    </div>
                    <div class="industry__list-item">
                        <div class="industry__list-title">
                            Услуги и сервисы
                        </div>
                        <div class="industry__list-text">
                            Наши решения для аптек и аптечных сетей помогут повысить эффективность продажи лекарственных средств и улучшить качество обслуживания клиентов  
                        </div>
                    </div>
                    <div class="industry__list-item">
                        <div class="industry__list-title">
                            FMCG
                        </div>
                        <div class="industry__list-text">
                            Наши решения для аптек и аптечных сетей помогут повысить эффективность продажи лекарственных средств и улучшить качество обслуживания клиентов  
                        </div>
                    </div>
                </div>
                <div class="section__slaider">
                    <ul class="list-reset section__slaider-dots">
                        <li class="section__slaider-dot"></li>
                        <li class="section__slaider-dot section__slaider-dot--active"></li>
                        <li class="section__slaider-dot"></li>
                        <li class="section__slaider-dot"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="faq__section">
        <div class="container">
            <div class="row">
                <div class="faq__section-title">
                    Ответы на популярные вопросы
                </div>
            </div>
            <div class="row">
                <div class="faq__section-list">
                    <div class="faq__section-item">
                        <details>
                            <summary>
                                <div class="faq__section-question">
                                    Установка программ осуществляется самостоятельно или вашими силами?
                                </div>
                            </summary>
                            <div class="faq__section-answer">
                                Да, на этапе формирования технической документации мы определяем с вами перечень функций и модулей, которые будут в поставке. В ходе эксплуатации этот набор функций вы сможете увеличивать.
                            </div>
                        </details>
                    </div>
                    <div class="faq__section-item">
                        <details>
                            <summary>
                                <div class="faq__section-question">
                                    Мы можем выбрать только тот набор функций, который нужен именно нам?
                                </div>
                            </summary>
                            <div class="faq__section-answer">
                                Да, на этапе формирования технической документации мы определяем с вами перечень функций и модулей, которые будут в поставке. В ходе эксплуатации этот набор функций вы сможете увеличивать.
                            </div>
                        </details>
                    </div>
                    <div class="faq__section-item">
                        <details>
                            <summary>
                                <div class="faq__section-question">
                                    Как грамотно организовать обучение персонала по работе с новой программой?
                                </div>
                            </summary>
                            <div class="faq__section-answer">
                                Да, на этапе формирования технической документации мы определяем с вами перечень функций и модулей, которые будут в поставке. В ходе эксплуатации этот набор функций вы сможете увеличивать.
                            </div>
                        </details>
                    </div>
                    <div class="faq__section-item">
                        <details>
                            <summary>
                                <div class="faq__section-question">
                                    Как автоматизация влияет на рост прибыли в аптеке?
                                </div>
                            </summary>
                            <div class="faq__section-answer">
                                Да, на этапе формирования технической документации мы определяем с вами перечень функций и модулей, которые будут в поставке. В ходе эксплуатации этот набор функций вы сможете увеличивать.
                            </div>
                        </details>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clients__block">
        <div class="container">
            <div class="row">
                <div class="clients__block-top">
                    <div class="clients__block-title">
                        Крупные сети
                    </div>
                    <div class="clients__block-span">
                        внедрили и активно используют наши разработки
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="clients__list">
                    <div class="clients__list-item">
                        <img src="img/rigla_rew.jpg" alt="#" class="clients__list-image">
                    </div>
                    <div class="clients__list-item">
                        <img src="img/company_no.jpg" alt="#" class="clients__list-image">
                    </div>
                    <div class="clients__list-item">
                        <img src="img/rigla_rew.jpg" alt="#" class="clients__list-image">
                    </div>
                    <div class="clients__list-item">
                        <img src="img/company_no.jpg" alt="#" class="clients__list-image">
                    </div>
                    <div class="clients__list-item">
                        <img src="img/rigla_rew.jpg" alt="#" class="clients__list-image">
                    </div>
                    <div class="clients__list-item">
                        <img src="img/company_no.jpg" alt="#" class="clients__list-image">
                    </div>
                    <div class="clients__list-item">
                        <img src="img/rigla_rew.jpg" alt="#" class="clients__list-image">
                    </div>
                    <div class="clients__list-item">
                        <img src="img/company_no.jpg" alt="#" class="clients__list-image">
                    </div>
                    <div class="clients__list-item">
                        <img src="img/rigla_rew.jpg" alt="#" class="clients__list-image">
                    </div>
                    <div class="clients__list-item">
                        <img src="img/company_no.jpg" alt="#" class="clients__list-image">
                    </div>
                </div>
                <div class="section__slaider">
                    <ul class="list-reset section__slaider-dots">
                        <li class="section__slaider-dot"></li>
                        <li class="section__slaider-dot section__slaider-dot--active"></li>
                        <li class="section__slaider-dot"></li>
                        <li class="section__slaider-dot"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>