<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content text__block news__element">

                <div class="news__element-detail">
                    <time class="news__element-item news__element-date">
                        28.12.2021
                    </time>
                    <div class="news__element-item">
                        просмотров: <span>1352</span>
                    </div>
                    <div class="news__element-item">
                        автор: Илья Кошевой
                    </div>
                    <div class="news__element-item">
                        комментариев: <span>2</span>
                    </div>
                </div>

                <h1>
                    Клиенты АО «Спарго Технологии» смогут протестировать программное обеспечение до окончания пилотного
                    проекта ИС «Маркировка»
                </h1>

<div class="wrapper__content-code">
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;ru&quot;&gt;
    &lt;head&gt;
        &lt;meta charset=&quot;UTF-8&quot;&gt;
        &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0meta name=&quot;
        &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;ie=edge&quot;&gt;
        &lt;title&gt;Заголовок&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        контент
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
</div>


                <p>Компания АО «Спарго Технологии» провела работы по модернизации программного обеспечения для
                    реализации требований постановления правительства РФ №62 от 27.01.2017 «О проведении эксперимента по
                    маркировке контрольными (идентификационными) знаками и мониторингу за оборотом отдельных видов
                    лекарственных препаратов для медицинского назначения».</p>

                <p>В обновленной версии «F3TAIL» (версия 3.3.) доступны новые функциональные возможности:</p>
                <ul>
                    <li>контроль на приходе (регистрация);</li>
                    <li>контроль при подборе товара в чек/расходную накладную (валидация);</li>
                    <li>контроль на расходе (фиксация выбытия номенклатуры);</li>
                    <li>теперь «АРМ Кассира» и «F3TAIL» поддерживают подбор товара по двумерному штрих-коду формата
                        DATAMATRIX. Уточняем, что подбор маркированных позиций возможен только через сканирование
                        двумерного штрих-кода.</li>
                </ul>

                <div class="news__element-img">
                    <img src="img/blog-page-img.png" alt="#" class="news__element-image">
                    <div class="news__element-tooltip">пример вызова кода для авторизации в приложении</div>
                </div>


                <p>В переходный период схемы обмена данными могут неоднократно меняться, поэтому особое внимание нужно
                    уделить выбору программного обеспечения, которое легко адаптируется под необходимые нововведения.
                    Решения АО «Спарго Технологии» помогут вовремя и с минимальными затратами начать работу в
                    соответствии с новыми требованиями закона.</p>

                <p>Начать тестирование обновленного программного обеспечения клиенты компании АО «Спарго Технологии»
                    смогут начать уже сегодня на реальных маркированных упаковках. Для этого необходимо:</p>
                <ul>
                    <li>обновить программное обеспечение;</li>
                    <li>зарегистрироваться в рабочем личном кабинете;</li>
                    <li>модернизировать оборудование (ЭЦП для работы с ИС «Маркировка», сканер с возможностью считывания
                        штрих-кода формата DATAMATRIX).</li>
                </ul>

                <p>Пример кода в песочнице выглядит так:</p>

                <div class="codepen__import">
                    <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="qBdQYLJ" data-user="designcouch" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                        <span>See the Pen <a href="https://codepen.io/designcouch/pen/qBdQYLJ">
                        Codepen Challenge - Hello World</a> by Jesse Couch (<a href="https://codepen.io/designcouch">@designcouch</a>)
                        on <a href="https://codepen.io">CodePen</a>.</span>
                      </p>
                      <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
                </div>

                <p>Получить дополнительную консультацию и обновленную версию программного обеспечения можно у наших
                    специалистов.</p>


                <div class="news__element-bottom blog__info">
                    <div class="blog__info-text">
                        Автор: 
                        <div class="blog__info-author">
                            <div class="blog__info-img">
                                <img src="img/blog_author_img.png" alt="Илья Кошевой" class="blog__info-image">
                            </div>
                            <div class="blog__info-name">
                                Илья Кошевой
                                <div class="blog__info-status">
                                    Senior программист, team leader
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog__info-text">
                        Технологии: 
                        <div class="tags">
                            <a href="#" title="#" class="tags__item transition">
                                react
                            </a>
                            <a href="#" title="#" class="tags__item transition">
                                android
                            </a>
                            <a href="#" title="#" class="tags__item transition">
                                спарго технологии
                            </a>
                            <a href="#" title="#" class="tags__item transition">
                                iOS
                            </a>
                            <a href="#" title="#" class="tags__item transition">
                                автоматизация аптек
                            </a>
                            <a href="#" title="#" class="tags__item transition">
                                visual studio code
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="comments__section">
                <div class="comments__section-title">
                    Комментариев: 2
                </div>

                @include('comments.html')
            </div>
        </div>
    </div>

</div>