<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content text__block contacts__flex">
                <div class="contacts__list">
                    <p>Центральный офис компании АО «Спарго Технологии» работает в Москве.<br>Сервисная и партнерская
                        сети успешно функционируют в более чем 50 регионах РФ.</p>

                    <div class="contacts__all">
                        <div class="contacts__department contacts__department-main">
                            <div class="contacts__department-division">
                                Центральный офис
                            </div>
                            <div class="contacts__department-content">
                                <div class="contacts__department-block contacts__department-block--address">
                                    <div class="contacts__department-title">
                                        Адрес:
                                    </div>
                                    <span class="contacts__department-info">127282, г. Москва, ул. Чермянская,
                                        д.2</span>
                                </div>

                                <div class="contacts__department-block contacts__department-block--phone">
                                    <div class="contacts__department-title">
                                        Телефон/факс:
                                    </div>
                                    <a href="tel:+7 (495) 232-41-61"
                                        class="contacts__department-info contacts__department-info--link">+7 (495)
                                        232-41-61</a>
                                </div>

                                <div class="contacts__department-block contacts__department-block--mail">
                                    <div class="contacts__department-title">
                                        E-mail адрес:
                                    </div>
                                    <a href="mailto:info@spargo.ru"
                                        class="contacts__department-info contacts__department-info--link">info@spargo.ru</a>
                                </div>

                                <div class="contacts__department-block contacts__department-block--mail">
                                    <div class="contacts__department-title">
                                        Для СМИ:
                                    </div>
                                    <a href="mailto:vd_bryksina@spargo.ru"
                                        class="contacts__department-info contacts__department-info--link">vd_bryksina@spargo.ru</a>
                                </div>
                            </div>
                        </div>
                        <div class="contacts__department contacts__department-support">
                            <div class="contacts__department-division">
                                Отдел технической поддержки
                            </div>
                            <div class="contacts__department-content">
                                <div class="contacts__department-block contacts__department-block--phone">
                                    <div class="contacts__department-title">
                                        Телефон:
                                    </div>
                                    <a href="tel:8 (800) 700-47-08"
                                        class="contacts__department-info contacts__department-info--link">8 (800)
                                        700-47-08</a>
                                    <span class="contacts__department-tooltip">звонок по РФ бесплатный</span>
                                </div>

                                <div class="contacts__department-block contacts__department-block--phone">
                                    <div class="contacts__department-title">
                                        Телефон:
                                    </div>
                                    <a href="tel:+7 (495) 646-76-70"
                                        class="contacts__department-info contacts__department-info--link">+7 (495)
                                        646-76-70</a>
                                    <span class="contacts__department-tooltip">для Москвы и МО</span>
                                </div>

                                <div class="contacts__department-block contacts__department-block--mail">
                                    <div class="contacts__department-title">
                                        E-mail адрес:
                                    </div>
                                    <a href="mailto:help@spargo.ru"
                                        class="contacts__department-info contacts__department-info--link">help@spargo.ru</a>
                                </div>
                            </div>
                        </div>
                        <div class="contacts__department contacts__department-manufacturer">
                            <div class="contacts__department-division">
                                Для производителей
                            </div>
                            <div class="contacts__department-content">
                                <div class="contacts__department-block contacts__department-block--phone">
                                    <div class="contacts__department-title">
                                        Телефон/факс:
                                    </div>
                                    <a href="tel:+7 (495) 232-41-61"
                                        class="contacts__department-info contacts__department-info--link">+7 (495)
                                        232-41-61</a>
                                    <span class="contacts__department-tooltip">
                                        (доб. 07-20)</span>
                                </div>

                                <div class="contacts__department-block contacts__department-block--mail">
                                    <div class="contacts__department-title">
                                        E-mail адрес:
                                    </div>
                                    <a href="mailto:info@pharmadata.ru"
                                        class="contacts__department-info contacts__department-info--link">info@pharmadata.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contacts__map">
                    <div class="contacts__map-yandex">
                        <script type="text/javascript" charset="utf-8" async
                            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6cfc49294467ff76e4fff03e7472801ea283434116107596bbbc522f4dd8bb8c&amp;width=100%25&amp;height=490&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>

                    <div class="contacts__scheme">
                        <div class="contacts__scheme-item">
                            <div class="contacts__scheme-metro">
                                <svg>
                                    <use xlink:href="img/sprite.svg#icon__metro"></use>
                                </svg>
                                Бабушкинская
                            </div>
                            <div class="contacts__scheme-bus">
                                <p>Последний вагон из центра, трамвай <strong>№17</strong> до ост. <strong>«Ул.
                                    Тихомирова»</strong>.</p>
                            </div>
                            <div class="contacts__scheme-tooltip">
                                <p>Пройти назад вдоль путей около 50 м, затем свернуть направо на ул. Чермянскую, пройти до
                                    входа на территорию «ЦВ ПРОТЕК».</p>
                            </div>
                        </div>
                        <div class="contacts__scheme-item">
                            <div class="contacts__scheme-metro">
                                <svg>
                                    <use xlink:href="img/sprite.svg#icon__metro"></use>
                                </svg>
                                Медведково
                            </div>
                            <div class="contacts__scheme-bus">
                                <p>Первый вагон из центра, автобусы: <strong>№ 31, 278, 601, 606, 618, 771, 774</strong> до
                                    остановки <strong>«Кожгалантерейная фабрика»</strong>.</p>
                            </div>
                            <div class="contacts__scheme-tooltip">
                                <p>Пройти пешком по ул. Полярная до пересечения с ул. Чермянская, затем направо около 30 м
                                    до
                                    входа на территорию «ЦВ ПРОТЕК».</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contacts__form">
    <div class="container">
        <div class="contacts__form-title">
            Форма обратной связи
        </div>
        <form action="#" class="main__form">
            <div class="main__form-field">
                <label for="" class="main__form-label">
                    Ваше имя
                </label>
                <input type="text" class="main__form-input" placeholder="Как к вам обращаться?">
            </div>

            <div class="main__form-field">
                <label for="" class="main__form-label">
                    E-mail адрес
                </label>
                <input type="text" class="main__form-input" placeholder="name@domain.com">
            </div>

            <div class="main__form-field">
                <label for="" class="main__form-label">
                    Телефон для связи
                </label>
                <input type="text" class="main__form-input" placeholder="+7 (___) ___-__-__">
            </div>

            <div class="main__form-field">
                <label for="" class="main__form-label">
                    Регион
                </label>
                <input type="text" class="main__form-input" placeholder="В каком регионе ведете деятельность?">
            </div>

            <div class="main__form-field">
                <label for="" class="main__form-label">
                    Сфера деятельности
                </label>
                <input type="text" class="main__form-input" placeholder="Укажите сферу деятельности вашего бизнеса">
            </div>

            <div class="main__form-field">
                <label for="" class="main__form-label">
                    Тема обращения
                </label>
                <input type="text" class="main__form-input" placeholder="По какому вопросу хотите обратиться к нам?">
            </div>

            <div class="main__form-field main__form-field--full">
                <label for="" class="main__form-label">
                    Сообщение
                </label>
                <textarea class="main__form-textarea" placeholder="Введите ваше сообщение"></textarea>
            </div>

            <div class="main__form-field main__form-field--full main__form-field--buttons">
                <button class="main__button btn-reset">Отправить сообщение</button>

                <div class="main__form-licenze">
                    <input type="checkbox" class="main__form-checkbox" id="licenze" name="licenze" value="yes" required />
                    <label for="licenze" class="main__form-text">Я согласен с условиями <a href="#" title="#" class="main__form-link">обработки персональных данных</a></label>
                </div>
            </div>
        </form>
    </div>
</div>