<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content text__block contacts__flex">
                <div class="contacts__list">
                    <p>Центральный офис компании АО «Спарго Технологии» работает в Москве.<br>Сервисная и партнерская сети успешно функционируют в более чем 50 регионах РФ.</p>
                </div>
                <div class="contacts__map">

                </div>
            </div>
        </div>
    </div>

    <div class="contacts__form">
        <div class="container">
            <div class="contacts__form-title">
                Форма обратной связи
            </div>
            <form action="#" class="main__form">
                <div class="main__form-field">
                    <label for="" class="main__form-label">
                        Ваше имя
                    </label>
                    <input type="text" class="main__form-input" placeholder="Как к вам обращаться?">
                </div>

                <div class="main__form-field">
                    <label for="" class="main__form-label">
                        E-mail адрес
                    </label>
                    <input type="text" class="main__form-input" placeholder="name@domain.com">
                </div>

                <div class="main__form-field">
                    <label for="" class="main__form-label">
                        Телефон для связи
                    </label>
                    <input type="text" class="main__form-input" placeholder="+7 (___) ___-__-__">
                </div>

                <div class="main__form-field">
                    <label for="" class="main__form-label">
                        Регион
                    </label>
                    <input type="text" class="main__form-input" placeholder="В каком регионе ведете деятельность?">
                </div>

                <div class="main__form-field">
                    <label for="" class="main__form-label">
                        Сфера деятельности
                    </label>
                    <input type="text" class="main__form-input" placeholder="Укажите сферу деятельности вашего бизнеса">
                </div>

                <div class="main__form-field">
                    <label for="" class="main__form-label">
                        Тема обращения
                    </label>
                    <input type="text" class="main__form-input" placeholder="По какому вопросу хотите обратиться к нам?">
                </div>

                <div class="main__form-field main__form-field--full">
                    <label for="" class="main__form-label">
                        Сообщение
                    </label>
                    <textarea class="main__form-textarea" placeholder="Введите ваше сообщение"></textarea>
                </div>

                <div class="main__form-field main__form-field--full main__form-field--buttons">
                    <button class="main__button btn-reset">Отправить сообщение</button>
                    <p class="main__form-text">Отправляя сообщение, вы автоматически соглашаетесь с условиями <a href="#" title="#" class="main__form-link">обработки персональных данных</a></p>
                </div>
            </form>
        </div>
    </div>
</div>