<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content">
                <h1>
                    Лицензии и сертификаты
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>

                <ul class="documents list-reset">
                    <li class="documents__item">
                        <a class="documents__img" href="img/document1.jpg" data-fancybox="gallery">
                            <img src="img/document1.jpg" alt="#" class="documents__image">
                            
                            <div class="documents__hover">
                                <svg>
                                    <use xlink:href="img/sprite.svg#icon_magnifier"></use>
                                </svg>

                                <svg>
                                    <use xlink:href="img/sprite.svg#icon_download"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="documents__title">
                            Лицензия Роскомнадзора на оказание телематических услуг связи
                        </div>
                    </li>

                    <li class="documents__item">
                        <a class="documents__img" href="img/document2.jpg" data-fancybox="gallery">
                            <img src="img/document2.jpg" alt="#" class="documents__image">

                            <div class="documents__hover">
                                <svg>
                                    <use xlink:href="img/sprite.svg#icon_magnifier"></use>
                                </svg>

                                <svg>
                                    <use xlink:href="img/sprite.svg#icon_download"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="documents__title">
                            Свидетельство на товарный знак "Спарго Технологии"
                        </div>
                    </li>

                    <li class="documents__item">
                        <a class="documents__img" href="img/document3.jpg" data-fancybox="gallery">
                            <img src="img/document3.jpg" alt="#" class="documents__image">

                            <div class="documents__hover">
                                <svg>
                                    <use xlink:href="img/sprite.svg#icon_magnifier"></use>
                                </svg>

                                <svg>
                                    <use xlink:href="img/sprite.svg#icon_download"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="documents__title">
                            Свидетельство об официальной регистрации программ для ЭВМ «еФарма2»
                        </div>
                    </li>

                    <li class="documents__item">
                        <a class="documents__img" href="img/document1.jpg" data-fancybox="gallery">
                            <img src="img/document3.jpg" alt="#" class="documents__image">

                            <div class="documents__hover">
                                <svg>
                                    <use xlink:href="img/sprite.svg#icon_magnifier"></use>
                                </svg>

                                <svg>
                                    <use xlink:href="img/sprite.svg#icon_download"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="documents__title">
                            Свидетельство об официальной регистрации программ для ЭВМ «еФарма2»
                        </div>
                    </li>

                    <li class="documents__item">
                        <a class="documents__img" href="img/document2.jpg" data-fancybox="gallery">
                            <img src="img/document1.jpg" alt="#" class="documents__image">

                            <div class="documents__hover">
                                <svg>
                                    <use xlink:href="img/sprite.svg#icon_magnifier"></use>
                                </svg>

                                <svg>
                                    <use xlink:href="img/sprite.svg#icon_download"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="documents__title">
                            Лицензия Роскомнадзора на оказание телематических услуг связи
                        </div>
                    </li>

                    <li class="documents__item">
                        <a class="documents__img" href="img/document3.jpg" data-fancybox="gallery">
                            <img src="img/document2.jpg" alt="#" class="documents__image">

                            <div class="documents__hover">
                                <svg>
                                    <use xlink:href="img/sprite.svg#icon_magnifier"></use>
                                </svg>

                                <svg>
                                    <use xlink:href="img/sprite.svg#icon_download"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="documents__title">
                            Свидетельство на товарный знак "Спарго Технологии"
                        </div>
                    </li>

                    <li class="documents__item">
                        <a class="documents__img" href="img/document1.jpg" data-fancybox="gallery">
                            <img src="img/document3.jpg" alt="#" class="documents__image">

                            <div class="documents__hover">
                                <svg>
                                    <use xlink:href="img/sprite.svg#icon_magnifier"></use>
                                </svg>

                                <svg>
                                    <use xlink:href="img/sprite.svg#icon_download"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="documents__title">
                            Свидетельство об официальной регистрации программ для ЭВМ «еФарма2»
                        </div>
                    </li>

                    <li class="documents__item">
                        <a class="documents__img" href="img/document2.jpg" data-fancybox="gallery">
                            <img src="img/document3.jpg" alt="#" class="documents__image">

                            <div class="documents__hover">
                                <svg>
                                    <use xlink:href="img/sprite.svg#icon_magnifier"></use>
                                </svg>

                                <svg>
                                    <use xlink:href="img/sprite.svg#icon_download"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="documents__title">
                            Свидетельство об официальной регистрации программ для ЭВМ «еФарма2»
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>