<header class="header">
  <div class="header__top">
    <div class="container">
      <ul class="header__list list-reset">
        <li class="header__list-item">
          <a href="mailto:info@spargo.ru" class="header__list-link" title="Элекронный адрес Спарго технологии">
            <svg>
              <use xlink:href="img/sprite.svg#mail_icon"></use>
            </svg>
            info@spargo.ru
          </a>
        </li>
        <li class="header__list-item">
          <a href="tel:88007004708" class="header__list-link" title="Номер телефона Спарго технологии">
            <svg>
              <use xlink:href="img/sprite.svg#phone_icon"></use>
            </svg>
            8 (800) 700-47-08
          </a>
          <span class="header__list-modal">(обратный звонок)</span>
        </li>
      </ul>


      <ul class="header__social list-reset">
        <li class="header__social-item">
          <a href="/" class="header__list-link" title="Спарго технологии в вконтакте">
            <svg>
              <use xlink:href="img/sprite.svg#social_vk"></use>
            </svg>
          </a>
        </li>
        <li class="header__social-item">
          <a href="/" class="header__list-link" title="Спарго технологии в фейсбук">
            <svg>
              <use xlink:href="img/sprite.svg#social_facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header__social-item">
          <a href="/" class="header__list-link" title="Спарго технологии в одноклассниках">
            <svg>
              <use xlink:href="img/sprite.svg#social_odn"></use>
            </svg>
          </a>
        </li>
        <li class="header__social-item">
          <a href="/" class="header__list-link" title="Спарго технологии в инстаграме">
            <svg>
              <use xlink:href="img/sprite.svg#social_instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header__social-item">
          <a href="/" class="header__list-link" title="Спарго технологии в телеграм">
            <svg>
              <use xlink:href="img/sprite.svg#social_telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="header__main">
    <div class="container">
      <div class="header__logo">
        <a href="/" class="header__logo-link" title="Спарго Технологии - автоматизация аптечного бизнеса">
          <span>IT-решения для автоматизации<br>бизнес-процессов</span>
        </a>
      </div>

      <nav class="header__nav">
        <ul class="header__menu list-reset">
          <li class="header__menu-item"><a href="#" class="header__menu-link">Наши решения</a></li>
          <li class="header__menu-item"><a href="#" class="header__menu-link">Разработка</a></li>
          <li class="header__menu-item"><a href="/hotline.html" class="header__menu-link">Поддержка</a></li>
          <li class="header__menu-item"><a href="#" class="header__menu-link">О компании</a></li>
          <li class="header__menu-item"><a href="/contacts.html" class="header__menu-link">Контакты</a></li>
        </ul>
      </nav>

      <div class="header__search" data-toggle="search__fixed">
        <svg>
          <use xlink:href="img/sprite.svg#search_icon"></use>
        </svg>
      </div>

      <div class="header__adaptive m-menu">
        <a href="javascript:void(0);" class="menu-trigger">
          <svg>
            <use xlink:href="img/sprite.svg#adaptive_menu"></use>
          </svg>
        </a>
      </div>
    </div>

  </div>
</header>




<div class="search__fixed">
  <div class="container">
    <form class="search__fixed-form" action="№">
      <div class="search__fixed-field">
        <input type="search" class="search__fixed-input" placeholder="Введите ключевой запрос">
        <button class="search__fixed-button main__button btn-reset" type="submit" value="Найти">Найти</button>
      </div>
    </form>
  </div>
</div>