<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content text__block">
                <h1>Администратор / Офис-менеджер</h1>
                <p>"Спарго Технологии" - российский разработчик специализированных решений для автоматизации
                    бизнес-процессов - приглашает на работу ответственного и внимательного сотрудника на должность
                    администратора офиса.</p>

                <p><strong>Должностные обязанности:</strong></p>
                <ul>
                    <li>прием и распределение звонков (мини АТС);</li>
                    <li>документооборот Компании (регистрация и распределение входящей/исходящей документации и почты);</li>
                    <li>взаимодействие с курьерскими службами экспресс-почты (Мейджор Экспресс);</li>
                    <li>регистрация доверенностей, приказов, распоряжений и других внутренних нормативных документов (ВНД);</li>
                    <li>поддержание в актуальном состоянии реестра ВНД, ведение архива;</li>
                    <li>оформление пропусков для гостей, новых сотрудников и встреча посетителей;</li>
                    <li>протоколирование совещаний руководителей;</li>
                    <li>мониторинг ежемесячных платежей;</li>
                    <li>сбор и передача в бухгалтерию первичных документов от контрагентов-поставщиков;</li>
                    <li>ведение реестра договоров;</li>
                    <li>взаимодействие с администраторами региональных подразделений;</li>
                    <li>обеспечение жизнедеятельности офиса (заказ воды, канц.товаров и т.д.);</li>
                    <li>выполнение служебных поручений непосредственного руководителя и руководства Компании.</li>
                </ul>

                <p><strong>Пожелания к кандидатам:</strong></p>
                <ul>
                    <li>знание основ документооборота;</li>
                    <li>опыт работы с мини АТС и оргтехникой;</li>
                    <li>грамотная речь, хорошие коммуникативные навыки, вежливость, внимательность, ответственность, добросовестность.</li>
                </ul>

                <p><strong>Мы предлагаем:</strong></p>
                <ul>
                    <li>работа в IT компании, входящей в состав крупного российского холдинга ПРОТЕК;</li>
                    <li>офис недалеко от станции метро Бабушкинская;</li>
                    <li>дружный коллектив молодых профессионалов;</li>
                    <li>возможность профессионального роста, обучения (в т.ч. с получением сертификатов);</li>
                    <li>полное соблюдение ТК РФ, «белая» заработная плата;</li>
                    <li>ДМС, столовая на территории, корпоративная йога после рабочего дня!</li>
                    <li>график работы: понедельник - пятница с 09.30 до 18.00 ч.</li>
                </ul>
            </div>
            <div class="vacancies__bottom">
                <div class="vacancies__buttons">
                    <button class="main__button btn-reset">
                        Откликнуться
                    </button>
    
                    <button class="main__button btn-reset">
                        Вакансия на hh.ru
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>