<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content text__block">
                <h1>Администратор / Офис-менеджер</h1>
                <p>"Спарго Технологии" - российский разработчик специализированных решений для автоматизации
                    бизнес-процессов - приглашает на работу ответственного и внимательного сотрудника на должность
                    администратора офиса.</p>

                <div class="vacancies__block">

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footnote">
            <div class="footnote__buttons">
                <button class="main__button btn-reset">
                    Отправить резюме
                </button>

                <button class="main__button btn-reset">
                    Откликнуться на hh.ru
                </button>
            </div>
        </div>
    </div>
</div>