<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content text__block">
                <h1>Вакансии компании АО «Спарго технологии»</h1>
                <p>Компания «Спарго Технологии» заинтересована в создании условий, при которых каждый сотрудник нашего
                    коллектива способен максимально реализовать свой потенциал и достичь выдающихся результатов. </p>

                <div class="vacancies__block">
                    <div class="vacancies__block-title">
                        Всего открытых вакансий: 50
                    </div>
                    <div class="vacancies__block-list">

                        <div class="vacancies__block-item">
                            <div class="vacancies__block-department">
                                Информационные технологии, интернет, телеком
                            </div>
                            <div class="vacancies__block-counter">
                                46
                            </div>
                        </div>


                        <div class="vacancies__block-item">
                            <div class="vacancies__block-department">
                                Продажи
                            </div>
                            <div class="vacancies__block-counter">
                                1
                            </div>
                        </div>
                        <div class="vacancies__block-item">
                            <div class="vacancies__block-department">
                                Бухгалтерия, управленческий учет, финансы предприятия
                            </div>
                            <div class="vacancies__block-counter">
                                1
                            </div>
                        </div>
                        <div class="vacancies__block-item">
                            <details>
                                <summary>
                                    <div class="vacancies__block-department">
                                        Административный персонал
                                    </div>
                                    <div class="vacancies__block-counter">
                                        2
                                    </div>
                                </summary>
                                <div class="vacancies__open">
                                    <a href="hh-page.html" title="#" class="vacancies__open-item">
                                        <div class="vacancies__open-position">
                                            Администратор / Офис-менеджер
                                        </div>
                                        <div class="vacancies__open-salary">
                                            от 43 000 до 50 000 руб.
                                        </div>
                                        <div class="vacancies__open-city">
                                            г. Москва<br>
                                            м. Бабушкинская
                                        </div>
                                    </a>
    
                                    <a href="hh-page.html" title="#" class="vacancies__open-item">
                                        <div class="vacancies__open-position">
                                            Специалист по работе со справочником/Оператор ПК (удаленно)
                                        </div>
                                        <div class="vacancies__open-salary">
                                            от 17 000 руб.
                                        </div>
                                        <div class="vacancies__open-city">
                                            г. Псков
                                        </div>
                                    </a>
                                </div>
                            </details>
                        </div>
                        <div class="vacancies__block-item">
                            <div class="vacancies__block-department">
                                Управление персоналом, тренинги
                            </div>
                            <div class="vacancies__block-counter">
                                1
                            </div>
                        </div>
                        <div class="vacancies__block-item">
                            <div class="vacancies__block-department">
                                Инсталляция и сервис
                            </div>
                            <div class="vacancies__block-counter">
                                1
                            </div>
                        </div>
                        <div class="vacancies__block-item">
                            <div class="vacancies__block-department">
                                Консультирование
                            </div>
                            <div class="vacancies__block-counter">
                                1
                            </div>
                        </div>
                        <div class="vacancies__block-item">
                            <div class="vacancies__block-department">
                                Медицина, фармацевтика
                            </div>
                            <div class="vacancies__block-counter">
                                1
                            </div>
                        </div>
                        <div class="vacancies__block-item">
                            <details>
                                <summary>
                                    <div class="vacancies__block-department">
                                        Наука, образование
                                    </div>
                                    <div class="vacancies__block-counter">
                                       1
                                    </div>
                                </summary>
                                <div class="vacancies__open">
                                    <a href="hh-page.html" title="#" class="vacancies__open-item">
                                        <div class="vacancies__open-position">
                                            Старший специалист по внедрению и сопровождению\Аналитик
                                        </div>
                                        <div class="vacancies__open-salary">
                                            от 50 000 руб.
                                        </div>
                                        <div class="vacancies__open-city">
                                            г. Киров<br>
                                            Кировская область
                                        </div>
                                    </a>
                                </div>
                            </details>
                        </div>
                        <div class="vacancies__block-item">
                            <div class="vacancies__block-department">
                                Начало карьеры, студенты
                            </div>
                            <div class="vacancies__block-counter">
                                1
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footnote">
            <div class="footnote__content">
                <div class="footnote__title">
                    Не нашли подходящую вакансию?
                </div>
                Отправьте резюме и укажите желаемую должность. Мы обязательно рассмотрим вашу кандидатуру.
            </div>
            <div class="footnote__buttons">
                <button class="main__button btn-reset">
                    Отправить резюме
                </button>
            </div>
        </div>
    </div>
</div>