<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content text__block">
                <h1>Вакансии компании АО «Спарго технологии»</h1>
                <p>Компания «Спарго Технологии» заинтересована в создании условий, при которых каждый сотрудник нашего
                    коллектива способен максимально реализовать свой потенциал и достичь выдающихся результатов. </p>

                <div class="vacancies__block">
                    <div class="vacancies__block-title">
                        Всего открытых вакансий: 50
                    </div>
                    <div class="vacancies__block-list">

                        <div class="vacancies__block-item">
                            <div class="vacancies__block-department">
                                <span>Информационные технологии, интернет, телеком</span>
                            </div>
                            
                            <div class="vacancies__block-counter">
                                46
                            </div>
                        </div>


                        <div class="vacancies__block-item">
                            <div class="vacancies__block-department">
                                <span>Продажи</span>
                            </div>
                            
                            <div class="vacancies__block-counter">
                                1
                            </div>
                        </div>
                        <div class="vacancies__block-item">
                            <div class="vacancies__block-department">
                                <span>Бухгалтерия, управленческий учет, финансы предприятия</span>
                            </div>
                            <div class="vacancies__block-counter">
                                1
                            </div>
                        </div>
                        <div class="vacancies__block-item">
                            <details>
                                <summary>
                                    <div class="vacancies__block-department">
                                        <span>Административный персонал</span>
                                    </div>
                                    <div class="vacancies__block-counter">
                                        2
                                    </div>
                                </summary>
                                <div class="vacancies__open">
                                    <a href="hh-page.html" title="#" class="vacancies__open-item">
                                        <div class="vacancies__open-position">
                                            Администратор / Офис-менеджер
                                        </div>
                                        <div class="vacancies__open-salary">
                                            от 43 000 до 50 000 руб.
                                        </div>
                                        <div class="vacancies__open-city">
                                            г. Москва<br>
                                            м. Бабушкинская
                                        </div>
                                    </a>
    
                                    <a href="hh-page.html" title="#" class="vacancies__open-item">
                                        <div class="vacancies__open-position">
                                            Специалист по работе со справочником/Оператор ПК (удаленно)
                                        </div>
                                        <div class="vacancies__open-salary">
                                            от 17 000 руб.
                                        </div>
                                        <div class="vacancies__open-city">
                                            г. Псков
                                        </div>
                                    </a>
                                </div>
                            </details>
                        </div>
                        <div class="vacancies__block-item">
                            <div class="vacancies__block-department">
                                <span>Управление персоналом, тренинги</span>
                            </div>
                            <div class="vacancies__block-counter">
                                1
                            </div>
                        </div>
                        <div class="vacancies__block-item">
                            <div class="vacancies__block-department">
                                <span>Инсталляция и сервис</span>
                            </div>
                            <div class="vacancies__block-counter">
                                1
                            </div>
                        </div>
                        <div class="vacancies__block-item">
                            <div class="vacancies__block-department">
                                <span>Консультирование</span>
                            </div>
                            <div class="vacancies__block-counter">
                                1
                            </div>
                        </div>
                        <div class="vacancies__block-item">
                            <div class="vacancies__block-department">
                                <span>Медицина, фармацевтика</span>
                            </div>
                            <div class="vacancies__block-counter">
                                1
                            </div>
                        </div>
                        <div class="vacancies__block-item">
                            <details>
                                <summary>
                                    <div class="vacancies__block-department">
                                        <span>Наука, образование</span>
                                    </div>
                                    <div class="vacancies__block-counter">
                                        1
                                     </div>
                                </summary>
                                <div class="vacancies__open">
                                    <a href="hh-page.html" title="#" class="vacancies__open-item">
                                        <div class="vacancies__open-position">
                                            Старший специалист по внедрению и сопровождению\Аналитик
                                        </div>
                                        <div class="vacancies__open-salary">
                                            от 50 000 руб.
                                        </div>
                                        <div class="vacancies__open-city">
                                            г. Киров<br>
                                            Кировская область
                                        </div>
                                    </a>
                                </div>
                            </details>
                        </div>
                        <div class="vacancies__block-item">
                            <div class="vacancies__block-department">
                                <span>Начало карьеры, студенты</span>
                            </div>
                            <div class="vacancies__block-counter">
                                1
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footnote">
            <div class="footnote__content">
                <div class="footnote__title">
                    Не нашли подходящую вакансию?
                </div>
                Отправьте резюме и укажите желаемую должность. Мы обязательно рассмотрим вашу кандидатуру.<br>
                Контактное лицо: <strong>Щербаков Виктор Сергеевич</strong> (<a href="mailto:vs_sccherbakov@protek.ru" title="Щербаков Виктор - Спарго Технологии">vs_sccherbakov@protek.ru</a>)
            </div>
            <div class="footnote__buttons">
                <button class="main__button btn-reset" data-hystmodal=".modal-vacancy">
                    Отправить резюме
                </button>
            </div>
        </div>
    </div>
</div>


<div class="hystmodal hystmodal--simple modal-vacancy" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="hystmodal__window hystmodal__window--form" role="dialog" aria-modal="true">
            <div class="modal">
                <button class="hystmodal__close" type="button" aria-label="Закрыть окно" data-hystclose>
                    <svg>
                        <use xlink:href="img/sprite.svg#icon_close"></use>
                      </svg>
                </button>   
                <h3 class="hystmodal__title">
                    Отправить резюме
                </h3>
  
                <form action="#" class="hystmodal__form main__form">
                    <div class="main__form-field">
                        <label for="" class="main__form-label">
                            Ваше имя
                        </label>
                        <input type="text" class="main__form-input" placeholder="Как к вам обращаться?">
                    </div>
        
                    <div class="main__form-field">
                        <label for="" class="main__form-label">
                            Номер телефона
                        </label>
                        <input type="text" class="main__form-input" placeholder="+7 (___) ___-__-__">
                    </div>

                    <div class="main__form-field">
                        <label for="" class="main__form-label">
                            E-mail адрес
                        </label>
                        <input type="text" class="main__form-input" placeholder="name@domain.com">
                    </div>

                    <div class="main__form-field">
                        <label for="" class="main__form-label">
                            Желаемая должность
                        </label>
                        <input type="text" class="main__form-input" placeholder="Укажите должность или отдел">
                    </div>

                    <div class="main__form-field">
                        <label for="" class="main__form-label">
                            Файл с резюме
                        </label>
                        <div class="main__form-files">
                            <input id="file" class="field-file__input" type="file" name="uploadFile"/>
                            <label class="field-file__label" for="file">
                                <div class="field-file__icon"></div>
                                <span class="field-file__label--text">Выберите резюме для загрузки</span>
                            </label>
                        </div>
                    </div>

                    <div class="main__form-field">
                        <label for="" class="main__form-label">
                            Сопроводительное письмо
                        </label>
                        <textarea class="main__form-textarea" placeholder="Введите ваше сообщение"></textarea>
                    </div>
  
                    <div class="main__form-field">

                        <div class="main__form-licenze">
                            <input type="checkbox" class="main__form-checkbox" id="licenze" name="licenze" value="yes" required />
                            <label for="licenze" class="main__form-text">Я согласен с условиями <a href="#" title="#" class="main__form-link">обработки персональных данных</a></label>
                        </div>

                        <button class="main__button btn-reset">Отправить резюме</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>