<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content text__block">
                <h1>Техническая поддержка клиентов</h1>
                <div class="holiday__time">
                    <p>
                        Уважаемые клиенты!<br>
                        Информируем вас об установленном режиме работы дежурства технической поддержки в период
                        праздничных дней: <br>
                        <br>
                        12 июня 2021 – выходной день.<br>
                        13 июня 2021 – 04.30-18.00 по московскому времени.<br>
                        14 июня 2021 – 04.30-18.00 по московскому времени.
                    </p>
                </div>

                <div class="hotline__contacts">
                    <div class="hotline__contacts-item hotline__contacts-item--time">
                        <div class="hotline__contacts-title">
                            Режим работы службы поддержки
                        </div>
                        <span class="hotline__contacts-info">ПН-ПТ: с 01:30 до 19:00 (МСК)</span>
                        <span class="hotline__contacts-info">СБ-ВС: с 09:30 до 18:00 (МСК)</span>
                    </div>

                    <div class="hotline__contacts-item hotline__contacts-item--mail">
                        <div class="hotline__contacts-title">
                            E-mail адрес:
                        </div>
                        <a href="mailto:htlp@spargo.ru"
                            class="hotline__contacts-info hotline__contacts-info--link">htlp@spargo.ru</a>
                    </div>

                    <div class="hotline__contacts-item hotline__contacts-item--telegram">
                        <div class="hotline__contacts-title">
                            Telegram bot
                        </div>
                        <a href="#" class="hotline__contacts-info hotline__contacts-info--link">SpargoHELP</a>
                    </div>

                    <div class="hotline__contacts-item hotline__contacts-item--phone">
                        <div class="hotline__contacts-title">
                            Телефон технической поддержки
                        </div>
                        <a href="tel:#" class="hotline__contacts-info hotline__contacts-info--link">&nbsp; 8 (800)
                            700-47-08</a>
                        <a href="tel:#" class="hotline__contacts-info hotline__contacts-info--link">+7 (495)
                            646-76-70</a>
                    </div>
                </div>

                <p><strong>Пожалуйста, заранее подготовьте информацию, необходимую для регистрации заявки:</strong></p>

                <ul>
                    <li>код клиента;</li>
                    <li>название организации;</li>
                    <li>контакты (телефон, контактное лицо);</li>
                    <li>название программного продукта;</li>
                    <li>регион территориального местонахождения;</li>
                    <li>описание проблемы.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="hotline__form">
        <div class="container">
            <div class="hotline__form-title">
                Обращение в техническую поддержку АО “Спарго технологии”
            </div>
            <form action="#" class="main__form">
                <div class="main__form-field">
                    <label for="" class="main__form-label">
                        Ваше имя
                    </label>
                    <input type="text" class="main__form-input" placeholder="Как к вам обращаться?">
                </div>

                <div class="main__form-field">
                    <label for="" class="main__form-label">
                        E-mail адрес
                    </label>
                    <input type="text" class="main__form-input" placeholder="name@domain.com">
                </div>

                <div class="main__form-field">
                    <label for="" class="main__form-label">
                        Телефон для связи
                    </label>
                    <input type="text" class="main__form-input" placeholder="+7 (___) ___-__-__">
                </div>

                <div class="main__form-field">
                    <label for="" class="main__form-label">
                        Наименование программного продукта и его версия
                    </label>
                    <input type="text" class="main__form-input" placeholder="Например, f3tail 3.2">
                </div>

                <div class="main__form-field">
                    <label for="" class="main__form-label">
                        Наименование организации/ИНН организации
                    </label>
                    <input type="text" class="main__form-input" placeholder="Организация, на которую составлен договор">
                </div>

                <div class="main__form-field">
                    <label for="" class="main__form-label">
                        Регион территориального местонахождения
                    </label>
                    <input type="text" class="main__form-input" placeholder="С какого города обращаетесь?">
                </div>

                <div class="main__form-field main__form-field--full">
                    <label for="" class="main__form-label">
                        Описание проблемы
                    </label>
                    <textarea class="main__form-textarea"
                        placeholder="Опишите проблемы с указанием порядка действий"></textarea>
                </div>

                <div class="main__form-field main__form-field--full main__form-field--buttons">
                    <button class="main__button btn-reset">Создать обращение</button>

                    <div class="main__form-licenze">
                        <input type="checkbox" class="main__form-checkbox" id="licenze" name="licenze" value="yes"
                            required />
                        <label for="licenze" class="main__form-text">Я согласен с условиями <a href="#" title="#"
                                class="main__form-link">обработки персональных данных</a></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>