<div class="main__slaider">
    <div class="container">
        <div class="main__slaider-content">
            <h1 class="main__slaider-title">
                SMART SOFT AND ANALITICS
            </h1>
            <h2 class="main__slaider-description">
                «Спарго Технологии» - отечественный разработчик специализированных решений для автоматизации
                бизнес-процессов и ассортиментного планирования
                фармацевтического бизнеса и розничной торговли.
            </h2>
        </div>
    </div>

    <div class="main__slaider-list">
        <ul class="business__list list-reset">
            <li class="business__list-item">
                <a href="#" title="Производителям" class="business__list-link transition">
                    <div class="business__list-title">
                        <img src="img/manufacture_top.png" alt="Производителям" class="business__list-image">
                        Производителям
                    </div>
                    <div class="business__list-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id dolor vitae massa
                        scelerisque
                        massa, neque nunc.
                    </div>
                </a>
            </li>
            <li class="business__list-item">
                <a href="#" title="Медицинским организациям" class="business__list-link transition">
                    <div class="business__list-title">
                        <img src="img/hospital.png" alt="Медицинским организациям" class="business__list-image">
                        Медицинским организациям
                    </div>
                    <div class="business__list-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id dolor vitae massa
                        scelerisque
                        massa, neque nunc.
                    </div>
                </a>
            </li>
            <li class="business__list-item">
                <a href="#" title="Аптечному бизнесу" class="business__list-link transition">
                    <div class="business__list-title">
                        <img src="img/apteka.png" alt="Аптечному бизнесу" class="business__list-image">
                        Аптечному бизнесу
                    </div>
                    <div class="business__list-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id dolor vitae massa
                        scelerisque
                        massa, neque nunc.
                    </div>
                </a>
            </li>
            <li class="business__list-item">
                <a href="#" title="Государственным организациям" class="business__list-link transition">
                    <div class="business__list-title">
                        <img src="img/official-documents.png" alt="Государственным организациям"
                            class="business__list-image">
                        Государственным организациям
                    </div>
                    <div class="business__list-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id dolor vitae massa
                        scelerisque
                        massa, neque nunc.
                    </div>
                </a>
            </li>
            <li class="business__list-item">
                <a href="#" title="Дистрибьютерам" class="business__list-link transition">
                    <div class="business__list-title">
                        <img src="img/pallet.png" alt="Дистрибьютерам" class="business__list-image">
                        Дистрибьютерам
                    </div>
                    <div class="business__list-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id dolor vitae massa
                        scelerisque
                        massa, neque nunc.
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>



<div class="last__renewal">
    <div class="container">
        <div class="row">
            <div class="main__title">
                Актуально
                <div class="main__title-span">
                    Важные обновления и патчи интеграционных решений
                </div>
            </div>
        </div>
        <div class="row">
            <div class="last__renewal-list">
                <div class="last__renewal-item">
                    <a href="#" title="#" class="last__renewal-title transition">
                        Комплекс F3 RX для работы с электронными рецептами
                    </a>
                    <time datetime="21.11.2021" class="last__renewal-date">21.11.2021</time>
                    <div class="last__renewal-content">
                        Дополнительные модули «F3 Rx» для программ «F3 TAIL» и «еФарма2-Льгота Web» позволяют
                        осуществлять работу с рецептами в форме электронного документа, как для льготного лекарственного
                        обеспечения, так и для рецептов за полную стоимость. Решение «F3 Rx» - это комплекс программных
                        продуктов, который организуют единое информационное пространство и обеспечивают обмен данными
                        между врачом, пациентом и фармацевтом.
                    </div>
                </div>

                <div class="last__renewal-item">
                    <a href="#" title="#" class="last__renewal-title transition">
                        F3 TAIL 3.8: обновления
                    </a>
                    <time datetime="09.10.2021" class="last__renewal-date">09.10.2021</time>
                    <div class="last__renewal-content">
                        В мае 2021 вышла новая версия программы F3 TAIL 3.8. Рассказываем о новых возможностях:<br><br>

                        Электронные рецепты. Программное обеспечение F3 TAIL версии 3.8 готово к подключению систем
                        электронных рецептов субъектов Российской Федерации и уже работает с системами электронных
                        рецептов при использовании отдельного модуля F3 TAIL:
                    </div>
                </div>

                <div class="last__renewal-item">
                    <a href="#" title="#" class="last__renewal-title transition">
                        PHARMADATA: Показатели фармацевтического рынца России за октябрья 2021
                    </a>
                    <time datetime="14.09.2021" class="last__renewal-date">14.09.2021</time>
                    <div class="last__renewal-content">
                        В документе представлены: динамика подключения аптечных учреждений и закупочного оборота;
                        изменение среднего объема закупок аптек; ТОП-15 фармацевтических дистрибьюторов по закупкам;
                        ТОР-20 позиций по сумме закупок; ТОР-20 позиций по объему закупок; средняя цена упаковки
                        препаратов по отдельным регионам.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="#" title="#" class="main__button btn-reset">
                Все обновления
            </a>
        </div>
    </div>
</div>



<div class="main__action">
    <div class="container">
        <div class="main__action-content">
            <h3 class="main__action-title">
                Интеграция IT решений <nobr>в бизнес</nobr>
            </h3>
            <p class="main__action-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.
            </p>
        </div>
        <div class="main__action-button">
            <button class="main__button btn-reset">
                Оставить заявку
            </button>
        </div>
    </div>
</div>



<div class="news__main">
    <div class="container">
        <div class="row">
            <div class="main__title">
                Новости и статьи
                <div class="main__title-span">
                    Мы предлагаем современные программы для автоматизации товарного учета и ассортиментного планирования
                    фармацевтического бизнеса и розничной торговли
                </div>
            </div>
        </div>
        <div class="row">
            <div class="news__items">
                <article class="news__item">
                    <div class="news__item-prompt">Фармацевтический рынок</div>

                    <div class="news__item-img">
                        <img src="img/news_item1.jpg" alt="#" class="news__item-image">
                    </div>

                    <div class="news__item-content">
                        <h3 class="news__item-title">
                            <a href="news-page.html" class="news__item-title--link transition">
                                PharmaDATA: закупки аптек в августе 2021
                            </a>
                        </h3>
                        <div class="news__item-text">
                            Кроссплатформенное решение F3 POS на базе F3 TAIL, разработки АО «Спарго Технологии»,
                            активно используется в нескольких крупных аптечных сетях ...
                        </div>
                        <div class="news__item-details">
                            <div class="news__item-date">
                                14.09.2021
                            </div>
                            <a href="news-page.html" class="news__item-more transition">
                                Читать дальше
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow__right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>


                <article class="news__item">
                    <div class="news__item-prompt">Статьи</div>

                    <div class="news__item-img">
                        <img src="img/news_item2.jpg" alt="#" class="news__item-image">
                    </div>

                    <div class="news__item-content">
                        <h3 class="news__item-title">
                            <a href="news-page.html" class="news__item-title--link transition">
                                Система «электронный рецепт» в аптеке: как все правильно реализовать в условиях
                            </a>
                        </h3>
                        <div class="news__item-text">
                            Кроссплатформенное решение F3 POS на базе F3 TAIL, разработки АО «Спарго Технологии»
                        </div>
                        <div class="news__item-details">
                            <div class="news__item-date">
                                06.09.2021
                            </div>
                            <a href="news-page.html" class="news__item-more transition">
                                Читать дальше
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow__right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>


                <article class="news__item">
                    <div class="news__item-prompt">Новости</div>

                    <div class="news__item-img">
                        <img src="img/news_item3.jpg" alt="#" class="news__item-image">
                    </div>

                    <div class="news__item-content">
                        <h3 class="news__item-title">
                            <a href="news-page.html" class="news__item-title--link transition">
                                PHARMADATA: показатели фармацевтического рынка в условиях пандемии
                            </a>
                        </h3>
                        <div class="news__item-text">
                            Разработки АО «Спарго Технологии»,
                            активно используется в нескольких крупных аптечных сетях ...
                        </div>
                        <div class="news__item-details">
                            <div class="news__item-date">
                                21.09.2021
                            </div>
                            <a href="news-page.html" class="news__item-more transition">
                                Читать дальше
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow__right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>

                <article class="news__item">
                    <div class="news__item-prompt">Фармацевтический рынок</div>

                    <div class="news__item-img">
                        <img src="img/news_item1.jpg" alt="#" class="news__item-image">
                    </div>

                    <div class="news__item-content">
                        <h3 class="news__item-title">
                            <a href="news-page.html" class="news__item-title--link transition">
                                PharmaDATA: закупки аптек в августе 2021
                            </a>
                        </h3>
                        <div class="news__item-text">
                            Кроссплатформенное решение F3 POS на базе F3 TAIL, разработки АО «Спарго Технологии»,
                            активно используется в нескольких крупных аптечных сетях ...
                        </div>
                        <div class="news__item-details">
                            <div class="news__item-date">
                                14.09.2021
                            </div>
                            <a href="news-page.html" class="news__item-more transition">
                                Читать дальше
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow__right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <a href="#" title="#" class="main__button btn-reset">
                Все материалы
            </a>
        </div>
    </div>
</div>



<div class="retail__all">
    <div class="container">
        <div class="row">
            <div class="main__title">
                Крупные сети
                <div class="main__title-span">
                    внедрили и активно используют Наши разработки
                </div>
            </div>
        </div>
        <div class="row">
            <div class="retail__all-list">
                <div class="retail__all-item">
                    <img src="img/rigla_rew.jpg" alt="#" class="retail__all-image">
                </div>
                <div class="retail__all-item">
                    <img src="img/company_no.jpg" alt="#" class="retail__all-image">
                </div>
                <div class="retail__all-item">
                    <img src="img/rigla_rew.jpg" alt="#" class="retail__all-image">
                </div>
                <div class="retail__all-item">
                    <img src="img/company_no.jpg" alt="#" class="retail__all-image">
                </div>
                <div class="retail__all-item">
                    <img src="img/rigla_rew.jpg" alt="#" class="retail__all-image">
                </div>
                <div class="retail__all-item">
                    <img src="img/company_no.jpg" alt="#" class="retail__all-image">
                </div>
                <div class="retail__all-item">
                    <img src="img/rigla_rew.jpg" alt="#" class="retail__all-image">
                </div>
                <div class="retail__all-item">
                    <img src="img/company_no.jpg" alt="#" class="retail__all-image">
                </div>
            </div>
            <ul class="slaider__list list-reset">
                <li class="slaider__list-item"></li>
                <li class="slaider__list-item slaider__list-item--active"></li>
                <li class="slaider__list-item"></li>
                <li class="slaider__list-item"></li>
            </ul>
        </div>
    </div>
</div>



<div class="reviews__main">
    <div class="container">
        <div class="row">
            <div class="main__title">
                Отзывы клиентов
                <div class="main__title-span">
                    которые внедрили наши решения в свой бизнес
                </div>
            </div>
        </div>
        <div class="row">
            <div class="reviews__main-list">
                <div class="reviews__item">
                    <div class="reviews__item-top">
                        <div class="reviews__img">
                            <img src="img/rigla_rew.jpg" alt="Ригла" class="reviews__image">
                        </div>
                        <div class="reviews__name">
                            <div class="reviews__img reviews__name-img">
                                <img src="img/rigla_rew.jpg" alt="Ригла" class="reviews__image">
                            </div>
                            Лазарева Ю.Н.
                            <div class="reviews__name-office">Директор департамента управления розничной сетью, ООО
                                «РИГЛА»</div>
                        </div>
                    </div>
                    <div class="reviews__content">
                        <div class="reviews__text">
                            «Основной целью внедрения программного продукта «еФарма2» является приведение информационных
                            систем, использующихся в регионах, к единым современным стандартам. Выбор программы был
                            сделан, прежде всего, по результатам анализа программ конкурентов, особое внимание уделяли
                            критерию «цена – функциональные возможности программы». Благодаря программному продукту
                            «еФарма2» мы смогли оптимизировать работу региональных подразделений, минимизировать объем
                            ручного ввода информации и сократить бумажный документооборот».
                        </div>

                        <a class="reviews__link" href="img/document1.jpg" data-fancybox>
                            Отзыв на фирменном бланке компании
                        </a>
                    </div>
                </div>

                <div class="reviews__item">
                    <div class="reviews__item-top">
                        <div class="reviews__img">
                            <img src="img/company_no.jpg" alt="Ригла" class="reviews__image">
                        </div>

                        <div class="reviews__name">
                            <div class="reviews__img reviews__name-img">
                                <img src="img/company_no.jpg" alt="Ригла" class="reviews__image">
                            </div>
                            Рачкован И.А.
                            <div class="reviews__name-office">Директор «Ростовоблфармация»</div>
                        </div>
                    </div>

                    <div class="reviews__content">
                        <div class="reviews__text">
                            «Функционал программы нас более чем устраивает, ее возможности позволяют оптимизировать
                            бизнес-процессы аптеки и повысить эффективность персонала. Все это в конечном итоге делает
                            обслуживание наших клиентов более качественным и оперативным. Программа полностью
                            соответствует законодательству РФ. Недавно мы провели итоговую проверку работоспособности
                            программного обеспечения «F3TAIL» на промышленном окружении информационной системы
                            мониторинга движения лекарственных препаратов «Маркировка» на базе нашей аптечной сети.Мы
                            проверили основные бизнес-процессы аптеки, участвующие в обмене данными с государственной
                            информационной системой. Результат нам понравился – препараты с маркировкой успешно прошли
                            регистрацию и контроль. Мы рекомендуем программное обеспечение семейства «F3TAIL».
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="#" title="#" class="main__button btn-reset">
                Все отзывы
            </a>
        </div>
    </div>
</div>