<div class="a-menu">
    <div class="a-menu__title">
        Навигация
        <div class="close-trigger">
            <svg>
                <use xlink:href="img/sprite.svg#icon_close"></use>
            </svg>
        </div>
    </div>
    <nav>
        <ul class="menu">       
            <li class="menu__item">
                <a href="/" title="#" class="menu__link transition">
                    Главная
                </a>
            </li>
            <li class="menu__item">
                <a href="about.html" title="О компании" class="menu__link transition">
                    О компании
                </a>
            </li>
            <li class="menu__item">
                <a href="reviews.html" title="Отзывы" class="menu__link transition">
                    Отзывы
                </a>
            </li>
            <li class="menu__item">
                <a href="news-category.html" title="Новости" class="menu__link transition">
                    Наши новости
                </a>
            </li>
            <li class="menu__item">
                <a href="hh.html" title="Вакансии" class="menu__link transition">
                    Вакансии
                </a>
            </li>
            <li class="menu__item menu__item-drop">
                <a href="javascript:void(0);" title="Услуги компании" class="menu__link transition">
                    Услуги компании
                </a>
                <ul class="sub-menu">
                    <li class="sub-menu__item"><a class="sub-menu__link transition" title="Внедрение программного обеспечения" href="services-page.html">Внедрение программного обеспечения</a></li>
                    <li class="sub-menu__item"><a class="sub-menu__link transition" title="Сопровождение программного обеспечения" href="services-page.html">Сопровождение программного обеспечения</a></li>
                    <li class="sub-menu__item"><a class="sub-menu__link transition" title="Обучение сотрудников"href="services-page.html">Обучение сотрудников</a></li>
                    <li class="sub-menu__item"><a class="sub-menu__link transition" title="Обслуживание программного обеспечения"href="services-page.html">Обслуживание программного обеспечения</a></li>
                </ul>
            </li>
            <li class="menu__item">
                <a href="hotline.html" title="Горячая линия" class="menu__link transition">
                    Горячая линия
                </a>
            </li>
            <li class="menu__item">
                <a href="contacts.html" title="Контакты" class="menu__link transition">
                    Контакты
                </a>
            </li>
            <li class="menu__item">
                <a href="documents.html" title="Лицензии и сертификаты" class="menu__link transition">
                    Лицензии и сертификаты
                </a>
            </li>
            
            
           
        </ul>
    </nav>
</div>