<div class="container">
    <div class="row">
        <ul class="pagination list-reset">
            <li class="pagination__item"><a href="#" class="pagination__link transition">Ранее</a></li>
            <li class="pagination__item"><a href="#" class="pagination__link transition">1</a></li>
            <li class="pagination__item"><span class="pagination__link pagination__link-active">2</span></li>
            <li class="pagination__item"><a href="#" class="pagination__link transition">3</a></li>
            <li class="pagination__item"><a href="#" class="pagination__link transition">Далее</a></li>
        </ul>
    </div>
</div>