<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content text__block">
                <h1>Официальные партнеры АО “Спарго Технологии”</h1>
                <p>«Спарго Технологии» – лидер российского рынка разработки и сервиса программных продуктов для автоматизации товарно-складского учета. Продукты и услуги, предлагаемые нашим клиентам, — надежный способ оптимизации бизнес-процессов и экономии средств аптечной организации.</p>

                <p>Мы заинтересованы в развитии партнерской сети. В нынешнее время рынок автоматизации аптечных учреждений является интенсивно растущей отраслью информационных услуг. В связи с возрастающим объемом работ возникает необходимость привлечения партнеров для распространения и сопровождения нашего программного продукта.</p>
                
                <p>Предлагаемая Партнерская программа «Спарго Технологии» будет способствовать развитию Ваших компаний и станет залогом нашего совместного лидерства в отрасли: 
                Вы сможете занять лидирующие позиции на региональных рынках комплексной автоматизации и обеспечить Ваших клиентов высококачественными услугами.</p>
                
                <p>Получить статус партнёра может компания, осуществляющая деятельность на территории РФ в области предоставления информационно-технологических услуг предприятиям и продажи программных продуктов.</p>
                
                <p>Мы гордимся тем, что неуклонно следуем принципам Партнерства, выстраивая долгосрочные отношения на основе разделения с Вами сфер деятельности внутри одной отрасли. Исключение конкуренции с Вами обеспечивает несомненные и весомые успехи в нашей совместной, слаженной работе.</p>
                
                <p>Наша основная цель - предоставление Вам максимально удобных и выгодных условий сотрудничества и поддержки в оказании комплексных услуг и продвижении продукции «Спарго Технологии».</p>

                <div class="partners__list">
                    <div class="partners__item">
                        <div class="partners__name">
                            <div class="partners__img">
                                <img src="img/rigla_rew.jpg" alt="#" class="partners__image">
                            </div>
                            <div class="partners__title partners__title-mobail">
                                ООО «КАССервис»
                            </div>
                        </div>
                        <div class="partners__content">
                            <div class="partners__title">
                                ООО «КАССервис»
                            </div>
                            <div class="partners__contacts">
                                <div class="partners__contacts-item">г. Красноярск, ул. Молокова, д. 5 “В”</div>
                                <div class="partners__contacts-item">+7 (391) 255-18-00</div>
                                <div class="partners__contacts-item">www.domain.com</div>
                                <div class="partners__contacts-item">vd_bryksina@spargo.ru</div>
                            </div>
                        </div>
                    </div>

                    <div class="partners__item">
                        <div class="partners__name">
                            <div class="partners__img">
                                <img src="img/company_no.jpg" alt="#" class="partners__image">
                            </div>
                            <div class="partners__title partners__title-mobail">
                                ООО «КАССервис»
                            </div>
                        </div>
                        <div class="partners__content">
                            <div class="partners__title">
                                ООО «КАССервис»
                            </div>
                            <div class="partners__contacts">
                                <div class="partners__contacts-item">г. Красноярск, ул. Молокова, д. 5 “В”</div>
                                <div class="partners__contacts-item">+7 (391) 255-18-00</div>
                                <div class="partners__contacts-item">www.domain.com</div>
                            </div>
                        </div>
                    </div>

                    <div class="partners__item">
                        <div class="partners__name">
                            <div class="partners__img">
                                <img src="img/company_no.jpg" alt="#" class="partners__image">
                            </div>
                            <div class="partners__title partners__title-mobail">
                                ООО «КАССервис»
                            </div>
                        </div>
                        <div class="partners__content">
                            <div class="partners__title">
                                ООО «КАССервис»
                            </div>
                            <div class="partners__contacts">
                                <div class="partners__contacts-item">г. Красноярск, ул. Молокова, д. 5 “В”</div>
                                <div class="partners__contacts-item">vd_bryksina@spargo.ru</div>
                            </div>
                        </div>
                    </div>

                    <div class="partners__item">
                        <div class="partners__name">
                            <div class="partners__img">
                                <img src="img/rigla_rew.jpg" alt="#" class="partners__image">
                            </div>
                            <div class="partners__title partners__title-mobail">
                                ООО «КАССервис»
                            </div>
                        </div>
                        <div class="partners__content">
                            <div class="partners__title">
                                ООО «КАССервис»
                            </div>
                            <div class="partners__contacts">
                                <div class="partners__contacts-item">г. Красноярск, ул. Молокова, д. 5 “В”</div>
                                <div class="partners__contacts-item">+7 (391) 255-18-00</div>
                                <div class="partners__contacts-item">vd_bryksina@spargo.ru</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footnote">
            <div class="footnote__content">
                <div class="footnote__title">
                    Как стать партнером?
                </div>
                Обратитесь в коммерческий отдел «Спарго Технологии» по телефону <strong><nobr>+7 (495) 232-41-61</nobr></strong> или заполните форму через сайт.
            </div>
            <div class="footnote__buttons">
                <button class="main__button btn-reset">
                    Стать партнером
                </button>
            </div>
        </div>
    </div>
</div>