<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content text__block">
                <h1>Отзывы о наших продуктах</h1>
                <p>Лучше всего о работе компании говорят отзывы предприятий, в которых осуществлено внедрение программного обеспечения АО «Спарго Технологии».</p>

                <div class="reviews__list">
                    <div class="reviews__item">
                        <div class="reviews__img">
                            <img src="img/rigla_rew.jpg" alt="Ригла" class="reviews__image">
                        </div>
                        <div class="reviews__content">
                            <div class="reviews__text">
                                «Основной целью внедрения программного продукта «еФарма2» является приведение информационных систем, использующихся в регионах, к единым современным стандартам. Выбор программы был сделан, прежде всего, по результатам анализа программ конкурентов, особое внимание уделяли критерию «цена – функциональные возможности программы». Благодаря программному продукту «еФарма2» мы смогли оптимизировать работу региональных подразделений, минимизировать объем ручного ввода информации и сократить бумажный документооборот».
                            </div>
                            <div class="reviews__name">
                                <div class="reviews__img reviews__name-img">
                                    <img src="img/rigla_rew.jpg" alt="Ригла" class="reviews__image">
                                </div>
                                Лазарева Ю.Н.
                                <div class="reviews__name-office">Директор департамента управления розничной сетью, ООО «РИГЛА»</div>
                            </div>
                            <a class="reviews__link" href="img/document1.jpg" data-fancybox>
                                Отзыв на фирменном бланке компании
                            </a>
                        </div>
                    </div>

                    <div class="reviews__item">
                        <div class="reviews__img">
                            <img src="img/company_no.jpg" alt="Ригла" class="reviews__image">
                        </div>
                        <div class="reviews__content">
                            <div class="reviews__text">
                                «Функционал программы нас более чем устраивает, ее возможности позволяют оптимизировать бизнес-процессы аптеки и повысить эффективность персонала. Все это в конечном итоге делает обслуживание наших клиентов более качественным и оперативным. Программа полностью соответствует законодательству РФ. Недавно мы провели итоговую проверку работоспособности программного обеспечения «F3TAIL» на промышленном окружении информационной системы мониторинга движения лекарственных препаратов «Маркировка» на базе нашей аптечной сети.Мы проверили основные бизнес-процессы аптеки, участвующие в обмене данными с государственной информационной системой. Результат нам понравился – препараты с маркировкой успешно прошли регистрацию и контроль. Мы рекомендуем программное обеспечение семейства «F3TAIL».
                            </div>
                            <div class="reviews__name">
                                <div class="reviews__img reviews__name-img">
                                    <img src="img/company_no.jpg" alt="Ригла" class="reviews__image">
                                </div>
                                Рачкован И.А.
                                <div class="reviews__name-office">Директор «Ростовоблфармация»</div>
                            </div>
                        </div>
                    </div>

                    <div class="reviews__item">
                        <div class="reviews__img">
                            <img src="img/company_no.jpg" alt="Ригла" class="reviews__image">
                        </div>
                        <div class="reviews__content">
                            <div class="reviews__text">
                                «Популярность онлайн-покупок стабильно растет, и мы не могли оставить без внимания данный факт. Большинство покупателей отдает предпочтение интернет-заказам банально из-за отсутствия желания стоять в очереди, есть те, кто хочет минимизировать время пребывания в аптеке в период эпидемий, а некоторым просто так удобнее выбирать товар. Если сервис востребован у клиентов, то мы его обязательно запускаем в работу. Создание системы заказов через интернет позволило нам охватить новую аудиторию, а ее интеграция с программным обеспечением F3TAIL помогла решить технические вопросы. На сегодняшний момент мы автоматизировали весь процесс – от закупок до доставки по точкам».
                            </div>
                            <div class="reviews__name">
                                <div class="reviews__img reviews__name-img">
                                    <img src="img/company_no.jpg" alt="Ригла" class="reviews__image">
                                </div>
                                Никифорова И.
                                <div class="reviews__name-office">генеральный директор, ООО «Аптека на Лунной»</div>
                            </div>
                            <a class="reviews__link" href="img/document1.jpg" data-fancybox>
                                Отзыв на фирменном бланке компании
                            </a>
                        </div>
                    </div>

                    <div class="reviews__item">
                        <div class="reviews__img">
                            <img src="img/company_no.jpg" alt="Ригла" class="reviews__image">
                        </div>
                        <div class="reviews__content">
                            <div class="reviews__text">
                                «Выход в интернет-пространство мы начали с разработки интернет-магазина. Онлайн-торговля аптечными товарами имеет такие же ограничения, как и в обычной офлайн-аптеке. Поэтому возникла потребность интеграции системы заказов на нашем портале с системой товарного учета. Мы выбрали программное обеспечение «F3TAIL». За счет интеграции была автоматизирована работа интернет-портала: оформление заказов, планирование закупок, печать документов и чеков. Такой сервис оправдывает себя не только с экономической точки зрения - дополнительные клиенты увеличивают продажи, но и позволяет повысить лояльность покупателей – чем больше полезных опций, тем выше вероятность, что клиент вернется снова».
                            </div>
                            <div class="reviews__name">
                                <div class="reviews__img reviews__name-img">
                                    <img src="img/company_no.jpg" alt="Ригла" class="reviews__image">
                                </div>
                                Насимов Л.
                                <div class="reviews__name-office">Генеральный директор, ООО «Источник здоровья»</div>
                            </div>
                            <a class="reviews__link" href="img/document1.jpg" data-fancybox>
                                Отзыв на фирменном бланке компании
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @include('pagination.html')
    </div>
</div>