<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content">

                <div class="news__element-detail">
                    <time class="news__element-item news__element-date">
                        28.12.2021
                    </time>
                    <div class="news__element-item">
                        просмотров: <span>1352</span>
                    </div>
                </div>

                <div class="row">
    
                    <div class="webinars__info">
                        <h1>
                            Вебинар «еФарма 2 Льгота WEB»: как организовать выдачу льготных лекарств населению быстро и без перебоев?»
                        </h1>
    
                        <ul class="webinars__info-list list-reset">
                            <li class="webinars__info-item">дата проведения: <time datetime="28.07.2022, 15:00">28.07.2022, 15:00</time></li>
                            <li class="webinars__info-item">формат вебинара: <span>online</span></li>
                            <li class="webinars__info-item">спикер: <span>Мурзин Сергей, руководитель проектов АО “Спарго Технологии”</span></li>
                        </ul>
    
                        <div class="webinars__info-button">
                            <button class="main__button btn-reset">Зарегистрироваться на вебинар</button>
                        </div>

                        <div class="webinars__info-moderator">                            
                            модератор: <span>Брыксина Виктория, руководитель направления по рекламе и PR АО «Спарго Технологии», <a href="mailto:vd_bryksina@spargo.ru">vd_bryksina@spargo.ru</a></span>
                        </div>
    
                        <p><strong>Описание:</strong> Современный мир диктует свои правила — необходимо учитывать всё и сразу – перебои в интернете, ограничение использования западных программ и необходимость экономить. Специалисты АО «Спарго Технологии» расскажут о том, как облачные решения помогают экономить и получать качественные ИТ-ресурсы без покупки западных программ.</p>
    
                        <p><strong>Главные темы:</strong> «Аптечный бизнес переходит в цифровую среду», «Простая автоматизация VS облако», «Как «облачные» риски превращаются в мифы», «Преимущества облачных решений и принцип работы», а также сессия вопросов и ответов.</p>
                        
                        <p><strong>Вебинар будет интересен</strong> руководителям и коммерческим директорам фармацевтических компаний, а также техническим специалистам и менеджерам по продажам.</p>
                        
                        <p><strong>Справка</strong><br>Портфель решений АО «Спарго Технологии», отечественного разработчика специализированных решений для автоматизации бизнес-процессов, востребован на фармацевтическом рынке на протяжении более 15 лет. АО «Спарго Технологии» входит в ГК «Протек». F3 TAIL Cloud — облачное решение для бизнеса, которое позволяет не покупать программное обеспечение за полную стоимость, а лишь арендовать его на определенный срок, что существенно дешевле. Работа в системе товарного учета происходит через интернет без установки программного обеспечения на устройства организации. По сути, от бизнеса требуется только установка кассы и рабочего места.</p>
    
                        <div class="news__element-bottom">
                            <div class="tags">
                                <span>Теги:</span>
                                <a href="#" title="#" class="tags__item transition">
                                    фармацевтически рынок
                                </a>
                                <a href="#" title="#" class="tags__item transition">
                                    решения
                                </a>
                                <a href="#" title="#" class="tags__item transition">
                                    проекты
                                </a>
                                <a href="#" title="#" class="tags__item transition">
                                    автоматизация аптек
                                </a>
                                <a href="#" title="#" class="tags__item transition">
                                    аптека
                                </a>
                                <a href="#" title="#" class="tags__item transition">
                                    новости компании
                                </a>
                                <a href="#" title="#" class="tags__item transition">
                                    опыт внедрения
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="webinars__form">
                        <div class="webinars__form-title">
                            Регистрация на вебинар открыта до:
                            <span>13:00, 27.07.2022</span>
                        </div>
                        <form action="#" class="main__form">
                            <div class="main__form-field">
                                <label for="" class="main__form-label">
                                    Ваше имя
                                </label>
                                <input type="text" class="main__form-input" placeholder="Как к вам обращаться?">
                            </div>
                
                            <div class="main__form-field">
                                <label for="" class="main__form-label">
                                    E-mail адрес
                                </label>
                                <input type="text" class="main__form-input" placeholder="name@domain.com">
                            </div>
                
                            <div class="main__form-field">
                                <label for="" class="main__form-label">
                                    Телефон для связи
                                </label>
                                <input type="text" class="main__form-input" placeholder="+7 (___) ___-__-__">
                            </div>
                
                            <div class="main__form-field">
                                <label for="" class="main__form-label">
                                    Название организации и должность
                                </label>
                                <input type="text" class="main__form-input" placeholder="ООО “Технологии”, руководитель проектов">
                            </div>
                
                            <div class="main__form-field main__form-field--full main__form-field--buttons">
                                <input type="submit" value="Зарегистрироваться" class="main__button btn-reset" id="contact-submit">
                            </div>
                        </form>
                    </div>


                    <div class="webinars__form" style="display: none">
                        <div class="webinars__form-title webinars__form-title--closed">
                            Регистрация на вебинар закрыта!
                        </div>
                        <p class="webinars__form-description">Подпишитесь, чтобы не пропустить следующий вебинар. Получайте первыми приглашения на новые вебинары, анонсы курсов и подборки статей, которые помогут сделать бизнес сильнее!</p>
                        <form action="#" class="main__form">
                
                            <div class="main__form-field">
                                <label for="" class="main__form-label">
                                    E-mail адрес
                                </label>
                                <input type="text" class="main__form-input" placeholder="name@domain.com">
                            </div>
                
                            <div class="main__form-field main__form-field--full main__form-field--buttons">
                                <input type="submit" value="Подписаться" class="main__button btn-reset" id="contact-submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>