<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="wrapper__content text__block">
                <p>Вебинары АО «Спарго Технологии» – это открытая площадка для обсуждения актуальной ситуации на рынке ритейла и ИТ, разбора реальных кейсов, а также демонстрации возможностей программного обеспечения семейства F3 TAIL и помощи по работе с программой.<br>Нам приятно делиться знаниями, способными сделать вашу работу проще - приглашаем принять участие в бесплатных вебинарах АО «Спарго Технологии».</p>

                <div class="webinars__next">
                    <div class="webinars__title-filter">
                        Ближайшие вебинары
                    </div>
    
                    <div class="webinars__list-main">
                        <div class="webinars__main">
                            <div class="webinars__main-img">
                                <img src="img/news_img.jpg" alt="#" class="webinars__main-image">
                            </div>
                            <div class="webinars__main-content">
                                <h3>
                                    <a href="#" title="#" class="webinars__main-title">
                                        Вебинар «еФарма 2 Льгота WEB»: как организовать выдачу льготных лекарств населению быстро и без перебоев?»
                                    </a>
                                </h3>
                                <div class="webinars__main-date">
                                    Дата проведения:
                                    <time>28.07.2022, 15:00</time>
                                </div>
                                <div class="webinars__main-description">
                                    Современный мир диктует свои правила — необходимо учитывать всё и сразу – перебои в интернете, ограничение использования западных программ и необходимость экономить. Специалисты АО «Спарго Технологии» расскажут о том, как облачные решения помогают экономить и получать качественные ИТ-ресурсы без покупки западных программ.
                                </div>
                                <div class="webinars__main-bottom">
                                    <div class="webinars__main-speaker">
                                        <div class="webinars__item-speaker--name">
                                            Варанкин Василий
                                        </div>
                                        старший аналитик отдела разработки АО «Спарго Технологии»
                                    </div>
                                    <a href="#" title="#" class="webinars__main-link">
                                        Ознакомиться с программой
                                        <svg>
                                            <use xlink:href="img/sprite.svg#arrow__right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="webinars__prev">
                    <div class="webinars__title-filter">
                        Прошедшие вебинары
                    </div>
    
                    <div class="webinars__list">
                        <div class="webinars__item">
                            <h3>
                                <a href="#" title="Вебинар «Управление приемкой товара в аптеке через мобильное приложение F3 Mobile»" class="webinars__item-title">
                                    Вебинар «Управление приемкой товара в аптеке через мобильное приложение F3 Mobile»
                                </a>
                            </h3>
                            <div class="webinars__item-date">
                                Дата проведения:
                                <time>12.05.2022, 15:00</time>
                            </div>
                            <div class="webinars__item-description">
                                Кратко: потенциал развития мобильных приложений для бизнеса очень высокий. Сегодня это ассистент для приемки товара в аптеке, а завтра центр управления бизнесом. Поговорим об инструментах, которые есть сейчас и в скором времени появятся. В завершении запланирована сессия вопросов и ответов.
                            </div>
    
                            <div class="webinars__item-speaker">
                                Спикер: 
                                <div class="webinars__item-speaker--name">
                                    Варанкин Василий
                                </div>
                                старший аналитик отдела разработки АО «Спарго Технологии»
                            </div>
                        </div>
    
                        <div class="webinars__item">
                            <h3>
                                <a href="#" title="Вебинар «Управление приемкой товара в аптеке через мобильное приложение F3 Mobile»" class="webinars__item-title">
                                    Вебинар «Почему переход на облачные сервисы – это выгодная стратегия в современных реалиях»
                                </a>
                            </h3>
                            <div class="webinars__item-date">
                                Дата проведения:
                                <time>28.07.2022, 15:00</time>
                            </div>
                            <div class="webinars__item-description">
                                Современный мир диктует свои правила — необходимо учитывать всё и сразу – перебои в интернете, ограничение использования западных программ и необходимость экономить. Специалисты АО «Спарго Технологии» расскажут о том, как облачные решения помогают экономить и получать качественные ИТ-ресурсы без покупки западных программ. Вебинар будет интересен руководителям и коммерческим директорам фармацевтических компаний, а также техническим специалистам и менеджерам по продажам.
                            </div>
    
                            <div class="webinars__item-speaker">
                                
                                <div class="webinars__item-speaker--name">
                                    Висторовский Алексей
                                </div>
                                старший менеджер по региону АО “Спарго Технологии”
                            </div>
                        </div>
    
                        <div class="webinars__item">
                            <h3>
                                <a href="#" title="Вебинар «Управление приемкой товара в аптеке через мобильное приложение F3 Mobile»" class="webinars__item-title">
                                    Вебинар «Почему переход на облачные сервисы – это выгодная стратегия в современных реалиях»
                                </a>
                            </h3>
                            <div class="webinars__item-date">
                                Дата проведения:
                                <time>28.07.2022, 15:00</time>
                            </div>
                            <div class="webinars__item-description">
                                Современный мир диктует свои правила — необходимо учитывать всё и сразу – перебои в интернете, ограничение использования западных программ и необходимость экономить. Специалисты АО «Спарго Технологии» расскажут о том, как облачные решения помогают экономить и получать качественные ИТ-ресурсы без покупки западных программ. Вебинар будет интересен руководителям и коммерческим директорам фармацевтических компаний, а также техническим специалистам и менеджерам по продажам.
                            </div>
    
                            <div class="webinars__item-speaker">
                                
                                <div class="webinars__item-speaker--name">
                                    Висторовский Алексей
                                </div>
                                старший менеджер по региону АО “Спарго Технологии”
                            </div>
                        </div>
    
                        <div class="webinars__item">
                            <h3>
                                <a href="#" title="Вебинар «Управление приемкой товара в аптеке через мобильное приложение F3 Mobile»" class="webinars__item-title">
                                    Вебинар «Управление приемкой товара в аптеке через мобильное приложение F3 Mobile»
                                </a>
                            </h3>
                            <div class="webinars__item-date">
                                Дата проведения:
                                <time>12.05.2022, 15:00</time>
                            </div>
                            <div class="webinars__item-description">
                                Кратко: потенциал развития мобильных приложений для бизнеса очень высокий. Сегодня это ассистент для приемки товара в аптеке, а завтра центр управления бизнесом. Поговорим об инструментах, которые есть сейчас и в скором времени появятся. В завершении запланирована сессия вопросов и ответов.
                            </div>
    
                            <div class="webinars__item-speaker">
                                
                                <div class="webinars__item-speaker--name">
                                    Варанкин Василий
                                </div>
                                старший аналитик отдела разработки АО «Спарго Технологии»
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
    <div class="container">
        @include('pagination.html')
    </div>
</div>