@include font-face("Nunito", "../fonts/Nunitoextralight", 200, normal);
@include font-face("Nunito", "../fonts/Nunitolight", 300, normal);
@include font-face("Nunito", "../fonts/Nunitoregular", 400, normal);
@include font-face("Nunito", "../fonts/Nunitosemibold", 600, normal);
@include font-face("Nunito", "../fonts/Nunitobold", 700, normal);
@include font-face("Nunito", "../fonts/Nunitoextrabold", 800, normal);
@include font-face("OpenSans", "../fonts/opensanssemibold", 600, normal);
