html {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray-900);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

svg {
  width: 20px;
  height: 20px;
}


.site-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1440px;
  width: 100%;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.transition {
  transition: all 0.2s;

  &:hover,
  &:focus {
    transition: all 0.2s;
  }
}

.text__block {
  ul {
    margin: 0 0 25px 0;
    padding: 0 0 0 15px;
    list-style: none;

    li {
      padding-left: 15px;
      position: relative;
      font-size: 16px;
      line-height: 22px;

      &::before {
        content: '';
        width: 5px;
        height: 5px;
        position: absolute;
        left: 0;
        display: inline-block;
        background-color: var(--corporate-v-2);
        border-radius: 50%;
        top: 9px;
      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}

.main__indent {
  display: block;
  width: 100%;
  height: 130px;
  position: relative;
  z-index: -1;

  @include before('xxl') {
    height: 80px;
  }
}


.error_page {
  display: flex;
  justify-content: center;
  width: 100%;

  svg {
    width: 688px;
    height: 433px;

    @include before('lg') {
      width: 508px;
      height: 253px;
    }

    @include before('md') {
      width: auto;
      height: auto;
    }
  }
}

.main__button {
  background-color: var(--corporate-v-2);
  border-radius: 4px;
  border: 2px solid var(--corporate-v-2);
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-gray-100);
  transition: all 0.2s;
  white-space: nowrap;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: var(--color-gray-100);
    color: var(--corporate-v-2);
    transition: all 0.2s;
  }
}



.footnote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  border-top: 1px solid var(--color-gray-200);
  margin-top: 70px;

  @include before('md') {
    margin-top: 50px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__content {
    color: var(--corporate-v-0);
    font-size: 16px;
    line-height: 22px;
    padding-right: 20px;

    @include before('md') {
      margin-bottom: 20px;
      padding-right: 0;
    }

    a {
      color: var(--corporate-v-0);
    }
  }

  &__title {
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
  }
}



.main__form {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;

  @include before('md') {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  &-text {
    margin: 0 0 0 25px;
    font-size: 14px;
    color: var(--corporate-v-0);
    line-height: 16px;

    @include before('md') {
      text-align: center;
      margin: 15px 0 0 0;
    }
  }

  &-link {
    color: var(--corporate-v-2);

    &:hover,
    &:focus {
      text-decoration: underline;
      color: var(--corporate-v-3);
    }

    @include after('md') {
      display: table;
    }
  }

  &-field {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--full {
      grid-column-start: 1;
      grid-column-end: 4;

      @include before('md') {
        grid-column-end: 1;
      }
    }

    &--buttons {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-top: 10px;

      @include before('md') {
        flex-direction: column;
      }
    }
  }

  &-label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--corporate-v-1);
    margin-bottom: 10px;

    @include before('xl') {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &-input {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0 15px;
    height: 48px;
    line-height: 48px;
    color: var(--color-gray-600);
    box-shadow: 0px 2px 6px rgba(52, 73, 94, 0.15);
    text-overflow: ellipsis;
    font-size: 14px;

    @include placeholder {
      color: var(--color-gray-600);
    }

    &:hover {
      &::placeholder {
        opacity: 1;
      }
    }

    &:focus {
      border: 1px solid var(--color-gray-300);

      &::placeholder {
        opacity: 0.3;
      }
    }
  }

  &-textarea {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 15px;
    height: auto;
    line-height: 20px;
    min-height: 190px;
    max-height: 190px;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    color: var(--color-gray-600);
    box-shadow: 0px 2px 6px rgba(52, 73, 94, 0.15);

    @include placeholder {
      color: var(--color-gray-600);
    }

    &:hover {
      &::placeholder {
        opacity: 1;
      }
    }

    &:focus {
      border: 1px solid var(--color-gray-300);

      &::placeholder {
        opacity: 0.3;
      }
    }
  }
}


.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item {
    background-color: var(--color-gray-400);
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 16px;
    color: var(--corporate-v-1);
    margin: 0 5px 5px 0;

    &:hover {
      color: var(--color-gray-100);
    }
  }
}








details {
  position: relative;
  min-height: auto;
  max-height: 100%;
  transition: min-height 1.15s linear, max-height 1.5s linear;
  -webkit-transition: min-height 1.15s linear, max-height 1.5s linear;
  will-change: max-height;
  width: 100%;

  summary {
      display: flex;
      cursor: pointer;
      outline: 0;
      align-items: center;
      position: relative;

      &::-webkit-details-marker {
          display: none;
      }

      &::-moz-list-bullet {
          list-style-type: none;
      }

      /*&::before {
          content: "";
          transition: transform .1s linear;
          -webkit-transition: transform .1s linear;
          background-image: url(../../../../assets/media/arrow.svg);
          background-repeat: no-repeat;
          background-size: 10px 6px;
          margin-left: 15px;
          width: 10px;
          height: 6px;
          order: 3;
      }*/
  }

  &[open] {
      min-height: auto;
      max-height: 100%;

      summary {

          & ~ * {
              opacity: 1;
          }

          &:before {
              transform: rotate(-180deg);
              -webkit-transform: rotate(-180deg);
              -moz-transform: rotate(-180deg);
          }
      }
  }
}

/*
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}*/