
:root {
  --corporate-v-0: #161D31;
  --corporate-v-1: #34495E;
  --corporate-v-2: #337AB7;
  --corporate-v-3: #039BB3;
  --color-gray-100: #F8F9FA;
  --color-gray-200: #E9ECEF;
  --color-gray-300: #DEE2E6;
  --color-gray-400: #CED4DA;
  --color-gray-500: #ADB5BD;
  --color-gray-600: #6C757D;
  --color-gray-700: #495057;
  --color-gray-800: #343A40;
  --color-gray-900: #212529;
  --color-status-danger: #CC3333;
  --color-status-succes: #009933;
  --color-status-info: #339999;
}
